/* RadButton Metro Skin */

.RadButton_Metro.rbSkinnedButton,
.RadButton_Metro .rbDecorated,
.RadButton_Metro .rbSecondaryIcon,
.RadButton_Metro.rbVerticalButton,
.RadButton_Metro.rbVerticalButton .rbDecorated
{
	background-image: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0)
{
    a.RadButton_Metro.RadButton input.rbDecorated,
    a.RadButton_Metro.RadButton input.rbDecorated,
    a.RadButton_Metro.RadButton input.rbDecorated:active,
    a.RadButton_Metro.RadButton input.rbDecorated:focus
    {
    	background-color: transparent;
    	border: 0 none;
    }
}

/*Simple Split Button Overrides*/
.RadButton_Metro .rbSplitRight,
.RadButton_Metro .rbSplitLeft
{
	background-image: url('Button/ButtonSprites.gif');
}

.RadButton_Metro .rbSplitRight,
.RadButton_Metro.rbLinkButton .rbSplitRight
{
	background-position: 0 0;
	background-color: #fff;
	border-left: 1px solid #e5e5e5;
}

.RadButton_Metro.rbLinkButton.rbDisabled .rbSplitRight
{
	background-position: 0 0;
}

*html .RadButton_Metro .rbSplitRight
{
	right: -1px;
}

*html .RadButton_Metro.rbDisabled .rbSplitRight
{
	right: 0;
}

.RadButton_Metro.rbLinkButton .rbSplitRight
{
	background-color: #fff;
	border-left: 1px solid #e5e5e5;
}

.RadButton_Metro .rbSplitRight:hover,
.RadButton_Metro.rbLinkButton .rbSplitRight:hover
{
	background-color: #e5e5e5;
	border-left: 1px solid #e5e5e5;
	background-position: -19px 0;
}

.RadButton_Metro .rbSplitRight:focus,
.RadButton_Metro .rbSplitRight:active,
.RadButton_Metro.rbLinkButton .rbSplitRight:focus,
.RadButton_Metro.rbLinkButton .rbSplitRight:active
{
	background-color: #25a0da;
	border-left: 1px solid #e5e5e5;
}

.RadButton_Metro .rbSplitLeft,
.RadButton_Metro.rbLinkButton .rbSplitLeft
{
	background-position: 0 0;
	border-right: 1px solid #e5e5e5;
}

.RadButton_Metro.rbLinkButton .rbSplitLeft
{
	background-color: #fff;
	border-right: 1px solid #e5e5e5;
}

.RadButton_Metro .rbSplitLeft:hover,
.RadButton_Metro.rbLinkButton .rbSplitLeft:hover
{
	background-color: #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background-position: -19px 0;
}

.RadButton_Metro.rbDisabled .rbSplitLeft,
.RadButton_Metro.rbDisabled .rbSplitLeft:hover,
.RadButton_Metro.rbDisabled .rbSplitLeft:focus,
.RadButton_Metro.rbDisabled .rbSplitLeft:active,
.RadButton_Metro.rbLinkButton.rbDisabled .rbSplitLeft,
.RadButton_Metro.rbLinkButton.rbDisabled .rbSplitLeft:hover,
.RadButton_Metro.rbLinkButton.rbDisabled .rbSplitLeft:active,
.RadButton_Metro.rbLinkButton.rbDisabled .rbSplitLeft:focus,
.RadButton_Metro.rbDisabled .rbSplitRight,
.RadButton_Metro.rbDisabled .rbSplitRight:hover,
.RadButton_Metro.rbDisabled .rbSplitRight:focus,
.RadButton_Metro.rbDisabled .rbSplitRight:active,
.RadButton_Metro.rbLinkButton.rbDisabled .rbSplitRight,
.RadButton_Metro.rbLinkButton.rbDisabled .rbSplitRight:hover,
.RadButton_Metro.rbLinkButton.rbDisabled .rbSplitRight:active,
.RadButton_Metro.rbLinkButton.rbDisabled .rbSplitRight:focus
{
	background-color: transparent;
	background-position: 0 0 !important;
}

/* Needed fo IE6 */
*html .rbDisabled .rbSplitRight,
*html .rbDisabled .rbSplitRight:hover,
*html .rbDisabled .rbSplitRight:focus,
*html .rbDisabled .rbSplitRight:active,
*html .rbDisabled .rbSplitLeft,
*html .rbDisabled .rbSplitLeft:hover,
*html .rbDisabled .rbSplitLeft:focus,
*html .rbDisabled .rbSplitLeft:active
{
	background-position: 0 0 !important;
}

.RadButton_Metro.rbDisabled .rbSplitLeft,
.RadButton_Metro.rbDisabled .rbSplitLeft:hover,
.RadButton_Metro.rbDisabled .rbSplitLeft:focus,
.RadButton_Metro.rbDisabled .rbSplitLeft:active,
.RadButton_Metro.rbLinkButton.rbDisabled .rbSplitLeft,
.RadButton_Metro.rbLinkButton.rbDisabled .rbSplitLeft:hover,
.RadButton_Metro.rbLinkButton.rbDisabled .rbSplitLeft:active,
.RadButton_Metro.rbLinkButton.rbDisabled .rbSplitLeft:focus
{
	border-right: 1px solid #e5e5e5;
}

.RadButton_Metro.rbDisabled .rbSplitRight,
.RadButton_Metro.rbLinkButton.rbDisabled .rbSplitRight
{
	border-left: 1px solid #e5e5e5;
}

.RadButton_Metro .rbSplitLeft:focus,
.RadButton_Metro .rbSplitLeft:active,
.RadButton_Metro.rbLinkButton .rbSplitLeft:focus,
.RadButton_Metro.rbLinkButton .rbSplitLeft:active
{
	background-color: #25a0da;
	border-right: 1px solid #e5e5e5;
}

.RadButton_Metro.rbSkinnedButton,
.RadButton_Metro.rbVerticalButton,
.RadButton_Metro .rbDecorated
{
	background-color: #fff;
	color: #767676;
}

.RadButton_Metro.rbSkinnedButton,
.RadButton_Metro.rbVerticalButton
{
	border: 1px solid #e5e5e5;
}

*html .RadButton_Metro.rbSkinnedButton,
*html .RadButton_Metro.rbVerticalButton
{
	border: 1px solid #e5e5e5 !important;
}

.RadButton_Metro.rbSkinnedButton:hover,
.RadButton_Metro.rbVerticalButton:hover,
.RadButton_Metro:hover .rbDecorated
{
	color: #000;
	background-color: #e5e5e5;
}

.RadButton_Metro.rbSkinnedButton:hover,
.RadButton_Metro.rbVerticalButton:hover
{
	border: 1px solid #e5e5e5;
}

.RadButton_Metro.rbSkinnedButton:active,
.RadButton_Metro.rbVerticalButton:active,
.RadButton_Metro.rbSkinnedButton:active .rbDecorated,
.RadButton_Metro.rbVerticalButton:active .rbDecorated,
.RadButton_Metro.rbPressedButton.rbSkinnedButton,
.RadButton_Metro.rbPressedButton .rbDecorated
{
	background-color: #25a0da;
	color: #fff;
}

.RadButton_Metro.rbSkinnedButton:active,
.RadButton_Metro.rbVerticalButton:active
{
	border: 1px solid #25a0da;
}

.RadButton_Metro.rbSkinnedButtonChecked,
.RadButton_Metro.rbSkinnedButtonChecked:hover,
.RadButton_Metro.rbSkinnedButtonChecked .rbDecorated,
.RadButton_Metro.rbSkinnedButtonChecked:hover .rbDecorated
{
	background-color: #25a0da;
	border: 1px solid #25a0da;
}

.RadButton_Metro .rbToggleCheckbox,
.RadButton_Metro .rbToggleCheckboxChecked,
.RadButton_Metro .rbToggleCheckboxFilled,
.RadButton_Metro .rbToggleRadio,
.RadButton_Metro .rbToggleRadioChecked
{
		background-image: url('Button/ToggleSprite.gif');
}

.RadButton_Metro.rbToggleButton,
.RadButton_Metro.rbToggleButton.rbDisabled,
.RadButton_Metro.rbToggleButton.rbDisabled:hover
{
	color: #000;
}

.RadButton_Metro.rbDisabled .rbDecorated,
.RadButton_Metro.rbDisabled:hover .rbDecorated,
.RadButton_Metro.rbToggleButton:hover
{
	color: #6a6a6a;
}

a.RadButton_Metro.rbLinkButton
{
	border: 1px solid #e5e5e5;
	text-decoration: none;
	color: #767676;
}

.RadButton_Metro.rbLinkButton:hover
{
	background-color: #e5e5e5;
	border: 1px solid #e5e5e5;
	color: #000;
}

.RadButton_Metro.rbLinkButton:active,
a.RadButton_Metro.rbLinkButtonChecked,
.RadButton_Metro.rbLinkButtonChecked:hover
{
	background-color: #25a0da;
	border: 1px solid #25a0da;
	color: #fff;
}

.RadButton_Metro.rbSkinnedButton,
.RadButton_Metro .rbDecorated
{
	height: 20px;
}

.RadButton_Metro.rbSkinnedButton.rbDisabled,
.RadButton_Metro.rbVerticalButton.rbDisabled,
.RadButton_Metro.rbLinkButton.rbDisabled,
.RadButton_Metro.rbLinkButton.rbDisabled:hover
{
	background-color: #fff;
	border: 1px solid #e5e5e5;
	color: #e5e5e5;
	cursor: default;
}

.RadButton_Metro.rbSkinnedButton.rbDisabled .rbDecorated,
.RadButton_Metro.rbVerticalButton.rbDisabled:hover .rbDecorated,
.RadButton_Metro.rbLinkButton.rbDisabled,
.RadButton_Metro.rbLinkButton.rbDisabled:hover
{
	background-color: #fff;
	color: #767676;
}

/* IE6 Fix, should be important to override the joint selectors */
*html .RadButton_Metro.rbLinkButton,
*html .RadButton_Metro.rbLinkButton:hover
{
	border: 1px solid #eee !important;
}

/* Disabled */
.RadButton_Metro.rbDisabled,
.RadButton_Metro.rbDisabled .rbToggleCheckbox, 
.RadButton_Metro.rbDisabled .rbToggleCheckboxChecked, 
.RadButton_Metro.rbDisabled .rbToggleRadio, 
.RadButton_Metro.rbDisabled .rbToggleRadioChecked, 
.RadButton_Metro.rbDisabled .rbToggleCheckboxFilled 
{
	opacity: .8;
}
