.RadRibbonBar_Metro
{
	font: 11px "Segoe UI", Arial, sans-serif;
	background-color: #25a0da;
}

.RadRibbonBar_Metro .rrbButtonArrow,
.RadRibbonBar_Metro .rrbResizeHandle,
.RadRibbonBar_Metro .rrbGroupLauncher
{
	background-image: url('RibbonBar/rrbArrowSprite.png');
}

.RadRibbonBar_Metro div.rrbGroupTitle
{
	background-image: none;
}


.RadRibbonBar_Metro .rrbContentWrapOut,
.RadRibbonBar_Metro .rrbContentWrapMid,
.RadRibbonBar_Metro .rrbContentWrapIn {
	margin: 0;
	padding: 0;
	border: 0;
	top: 0; right: 0; bottom: 0; left: 0;
}


.RadRibbonBar_Metro .rrbContentWrapOut {}
.RadRibbonBar_Metro .rrbContentWrapMid {}
.RadRibbonBar_Metro .rrbContentWrapIn {}


.RadRibbonBar_Metro .rrbButtonArea
{
	margin: 0;
	padding: 2px;
	height: 93px;
	border: 1px solid #e5e5e5;
	background-color: #ffffff;
}




/** Button group */
.RadRibbonBar_Metro .rrbButtonGroup,
.RadRibbonBar_Metro .rrbButtonGroupIn {
	margin: 0;
	padding: 0;
	border: 0;
}


.RadRibbonBar_Metro .rrbButtonGroup {
	margin: 0 0 0 0;
	padding: 2px;
	border: 1px solid #e5e5e5;
}


.RadRibbonBar_Metro .rrbButtonGroupIn {}





.RadRibbonBar_Metro .rrbButtonOut,
.RadRibbonBar_Metro .rrbButtonMid,
.RadRibbonBar_Metro .rrbButtonIn
{
	border-color: transparent;
}

.RadRibbonBar_Metro .rrbButtonArea .rrbCollapsedGroup,
.RadRibbonBar_Metro .rrbCollapsedGroup .rrbButtonMid
{
	background-color: #e4e4e4;
	border-color: #999;
}

.RadRibbonBar_Metro .rrbDecoration,
.RadRibbonBar_Metro .rrbDecoration .rrbButtonMid
{
	background-color: #fff;
	border-color: #cdcdcd;
}

.RadRibbonBar_Metro .rrbMenuGroupMid,
.RadRibbonBar_Metro .rrbMenuGroupIn
{
	background-color: #FFF;
	border-color: #999;
}

.RadRibbonBar_Metro .rrbDetachedContainer .rrbContentWrapOut,
.RadRibbonBar_Metro .rrbDetachedContainer .rrbContentWrapMid
{
	border-color: #e5e5e5;
	background-color: #ffffff;
}

.RadRibbonBar_Metro a.rrbButtonStripPart,
.RadRibbonBar_Metro a.rrbButtonStripPart .rrbButtonMid,
.RadRibbonBar_Metro div.rrbButtonStrip a.rrbDisabled,
.RadRibbonBar_Metro div.rrbButtonStrip a.rrbDisabled .rrbButtonMid
{
	border-color: #cccccc;
	background-color: #ffffff;
}

.RadRibbonBar_Metro a.rrbButtonOut:hover,
.RadRibbonBar_Metro a.rrbButtonOut:hover .rrbButtonMid,
.RadRibbonBar_Metro a.rrbButtonStripPart:hover,
.RadRibbonBar_Metro a.rrbButtonStripPart:hover .rrbButtonMid
{
	border-color: #cccccc;
	color:  #000000;
	background-color: #e5e5e5;
}

.RadRibbonBar_Metro .rrbButtonArea a.rrbCollapsedGroup:hover,
.RadRibbonBar_Metro a.rrbCollapsedGroup:hover .rrbButtonMid
{
	border-color: #cccccc;
	background-color: #e5e5e5;
}

.RadRibbonBar_Metro a.rrbCollapsedGroup:hover .rrbDecoration,
.RadRibbonBar_Metro a.rrbCollapsedGroup:hover .rrbDecoration .rrbButtonMid
{
	border-color: #cccccc;
	background-color: #e5e5e5;
}

.RadRibbonBar_Metro .rrbButtonClicked,
.RadRibbonBar_Metro .rrbButtonClicked .rrbButtonMid,
.RadRibbonBar_Metro div.rrbButtonGroup .rrbToggled,
.RadRibbonBar_Metro div.rrbButtonGroup .rrbToggled .rrbButtonMid,
.RadRibbonBar_Metro a.rrbExpanded,
.RadRibbonBar_Metro a.rrbExpanded .rrbButtonMid,
.RadRibbonBar_Metro a.rrbButtonClicked:hover,
.RadRibbonBar_Metro a.rrbButtonClicked:hover .rrbButtonMid,
.RadRibbonBar_Metro a.rrbButtonClicked:hover .rrbButtonOut
{
	border-color: #25a0da;
	color: #ffffff;
	background-color: #25a0da;
}

.RadRibbonBar_Metro .rrbButton:hover .rrbButtonIn,
.RadRibbonBar_Metro .rrbMediumButton:hover .rrbButtonIn,
.RadRibbonBar_Metro .rrbButtonClicked .rrbButtonIn,
.RadRibbonBar_Metro .rrbToggled .rrbButtonIn,
.RadRibbonBar_Metro .rrbExpanded .rrbButtonIn,
.RadRibbonBar_Metro .rrbButtonStripPart .rrbButtonIn
{
	margin-left: 0;
	margin-right: 0;
	padding-left: 1px;
	padding-right: 1px;
}

.RadRibbonBar_Metro .rrbLargeButton .rrbButtonIn,
.RadRibbonBar_Metro .rrbCollapsedGroup .rrbButtonIn
{
	padding-left: 0;
	padding-right: 0;
}

.RadRibbonBar_Metro .rrbButtonArea a.rrbButtonClicked.rrbCollapsedGroup,
.RadRibbonBar_Metro .rrbButtonArea a.rrbButtonClicked.rrbCollapsedGroup .rrbButtonMid
{
	border-color: #25a0da;
	background-color: #25a0da;
}

.RadRibbonBar_Metro a.rrbButtonClicked.rrbCollapsedGroup .rrbDecoration,
.RadRibbonBar_Metro a.rrbButtonClicked.rrbCollapsedGroup .rrbDecoration .rrbButtonMid
{
	border-color: #25a0da;
	background-color: #25a0da;
}

.RadRibbonBar_Metro a.rrbButtonOut:hover .rrbButtonText
{
	border-color: #cccccc;
}

.RadRibbonBar_Metro .rrbButtonTextHover
{
	background-color: #e5e5e5;
}

.RadRibbonBar_Metro a.rrbButtonClicked:hover .rrbButtonText
{
	border-color: #cccccc;
}

.RadRibbonBar_Metro .rrbButtonClicked .rrbButtonTextHover
{
	background-color: #25a0da;
}

.RadRibbonBar_Metro .rrbButtonGroupHover .rrbButtonGroupIn
{}

.RadRibbonBar_Metro .rrbGroupTitle
{}

.RadRibbonBar_Metro .rrbButtonOut,
.RadRibbonBar_Metro .rrbButtonStripPart,
.RadRibbonBar_Metro .rrbLargeButton .rrbButtonArrow,
.RadRibbonBar_Metro .rrbCollapsedGroup .rrbButtonArrow
{
	color: #000000;
}

.RadRibbonBar_Metro a.rrbDisabled .rrbButtonMid,
.RadRibbonBar_Metro a.rrbDisabled:hover .rrbButtonMid
{
	color: #e5e5e5;
}

.RadRibbonBar_Metro .rrbMenuGroupMid,
.RadRibbonBar_Metro .rrbDetachedContainer .rrbContentWrapOut
{
	box-shadow: 3px 2px 3px #888;
	-moz-box-shadow: 3px 2px 3px #888;
	-webkit-box-shadow: 3px 2px 3px #888;
}

.RadRibbonBar_Metro .rrbDetachedContainer .rrbGroupTitle
{
	bottom: 0;
}


/* RadTabStrip styles */
.RadRibbonBar_Metro .rrbTabStrip .rtsUL,
.RadRibbonBar_Metro .rrbTabStrip.RadTabStripBottom_Metro .rtsUL
{
	border-color: #949494;
}

.RadRibbonBar_Metro .rrbTabStrip .rtsUL
{
	border-top: 0;
}

.RadRibbonBar_Metro .rrbTabStrip.RadTabStripBottom_Metro .rtsUL
{
	border-bottom: 0;
}




/** Tabstrip */
.RadRibbonBar_Metro .rrbTabs {}


	.RadRibbonBar_Metro .rrbTabs {
		padding: 5px 5px 0;
		height: 24px;
		border-bottom: 0;
	}
	.RadRibbonBar_Metro.rrbExtendedChrome .rrbTabs {
		padding-top: 25px;
	}




/** Application Tab */
.RadRibbonBar_Metro .rrbApplicationTab {
	color: #000000;
	line-height: 20px;
}


	.RadRibbonBar_Metro .rrbApplicationTab .rrbTabLabel {
		border: 1px solid #7e7e7e;
		background-color: #c6c6c6;
	}


	.RadRibbonBar_Metro .rrbApplicationTab .rrbTabText {}




/** Hovered Application Tab */
.RadRibbonBar_Metro .rrbHoveredApplicationTab {}


	.RadRibbonBar_Metro .rrbHoveredApplicationTab .rrbTabLabel {}


	.RadRibbonBar_Metro .rrbHoveredApplicationTab .rrbTabText {}




/** Selected Application Tab */
.RadRibbonBar_Metro .rrbSelectedApplicationTab {
	color: #000000;
}


	.RadRibbonBar_Metro .rrbSelectedApplicationTab .rrbTabLabel {}


	.RadRibbonBar_Metro .rrbSelectedApplicationTab .rrbTabText {}




/** Contextual Tab */
.RadRibbonBar_Metro .rrbContextualTab {}


	.RadRibbonBar_Metro .rrbContextualTab .rrbTabs {
		padding-top: 0;
	}


	.RadRibbonBar_Metro .rrbContextualTab .rrbContextualTabLabel {
		color: #ffffff;
	}




/** Tab */
.RadRibbonBar_Metro .rrbTab {
	padding: 0;
	margin: 0 2px;
	border: 1px solid #25a0da;
	border-bottom: 0;
	color: #ffffff;
	background-color: #25a0da;
	font-size: 14px;
	line-height: 22px;
	text-transform: lowercase;
}

	.RadRibbonBar_Metro .rrbTabLabel {}


	.RadRibbonBar_Metro .rrbTabText {}




/** Hovered Tab */
.RadRibbonBar_Metro .rrbHoveredTab {
	border-color: #ffffff;
}


	.RadRibbonBar_Metro .rrbHoveredTab .rrbTabLabel {}


	.RadRibbonBar_Metro .rrbHoveredTab .rrbTabText {}




/** Selected Tab */
.RadRibbonBar_Metro .rrbSelectedTab {
	border-color: #ffffff;
	color: #767676;
}


	.RadRibbonBar_Metro .rrbSelectedTab .rrbTabLabel {
		background-color: #ffffff;
	}


	.RadRibbonBar_Metro .rrbSelectedTab .rrbTabText {}





/** QuickAccessToolbar */
.RadRibbonBar_Metro .rrbQuickAccessToolbar {}


	.RadRibbonBar_Metro .rrbQatItem {}
	.RadRibbonBar_Metro .rrbQatButton {}


	.RadRibbonBar_Metro .rrbQatDropDown {}
	.RadRibbonBar_Metro .rrbQatDropDown .rrbQatButton {}
	.RadRibbonBar_Metro .rrbQatDropDown .rrbQatButton:hover {
		border-color: #e5e5e5;
		background-color: #e5e5e5;
	}
	
	
	.RadRibbonBar_Metro .rrbQatDropDown .rrbSlide {}





/** RadRibbonBar Menu */
.RadRibbonBar_Metro .rrbMenu {
	border-color: #e5e5e5;
	color: #767676;
	background-color: #ffffff;
}


	.RadRibbonBar_Metro .rrbSlide {}
	.RadRibbonBar_Metro .rrbMenu .rrbMenuGroup {}
	.RadRibbonBar_Metro .rrbMenu .rrbMenuLabel {
		background-color: #ffffff;
	}
	.RadRibbonBar_Metro .rrbMenu .rrbMenuSeparator {}




	/** Menu items */
	.RadRibbonBar_Metro .rrbMenu .rrbMenuItem {}
	.RadRibbonBar_Metro .rrbMenu .rrbMenuItem:hover,
	.RadRibbonBar_Metro .rrbMenu .rrbMenuItemHovered {
		border-color: #e5e5e5;
		color: #000000;
		background-color: #e5e5e5;
		background-image: none;
	}


	.RadRibbonBar_Metro .rrbMenu .rrbMenuItemCheckbox {}
	.RadRibbonBar_Metro .rrbMenu .rrbMenuItemCheckbox label {}
	.RadRibbonBar_Metro .rrbMenu .rrbMenuItemCheckbox input {}
	.RadRibbonBar_Metro .rrbMenu .rrbMenuItemCheckboxChecked {}
	.RadRibbonBar_Metro .rrbMenu .rrbMenuItemCheckboxChecked label {}


	.RadRibbonBar_Metro .rrbMenu .rrbMenuItemRadio {}
	.RadRibbonBar_Metro .rrbMenu .rrbMenuItemRadio label {}
	.RadRibbonBar_Metro .rrbMenu .rrbMenuItemRadio input {}
	.RadRibbonBar_Metro .rrbMenu .rrbMenuItemRadioChecked {}
	.RadRibbonBar_Metro .rrbMenu .rrbMenuItemRadioChecked label {}