.RadTreeView_Metro,
.RadTreeView_Metro a.rtIn,
.RadTreeView_Metro .rtEdit .rtIn input
{
	color: #767676;
	font: 12px/18px "Segoe UI", Arial, sans-serif;
}

.RadTreeView_Metro .rtPlus, 
.RadTreeView_Metro .rtMinus
{
	background-image: url('TreeView/PlusMinus.png');
}

.RadTreeView_Metro .rtLI .rtPlus, 
.RadTreeView_Metro .rtLI .rtPlus:hover
{ background-position: 0 0; }

.RadTreeView_Metro .rtLI .rtMinus, 
.RadTreeView_Metro .rtLI .rtMinus:hover
{ background-position: 0 -11px; }

.RadTreeView_Metro .rtChecked,
.RadTreeView_Metro .rtUnchecked,
.RadTreeView_Metro .rtIndeterminate
{
	background-image: url('TreeView/TriState.png');
}

.RadTreeView_Metro .rtHover .rtIn
{
	border-color: #e5e5e5;
	background-color: #e5e5e5;
}

.RadTreeView_Metro .rtSelected .rtIn
{
	border-color: #249fd9;
	color: #FFFFFF;
	background-color: #249fd9;
}

.RadTreeView_Metro .rtSelected .rtLoadingBefore,
.RadTreeView_Metro .rtSelected .rtLoadingAfter,
.RadTreeView_Metro .rtSelected .rtLoadingBelow
{
	color: #767676;
}

.RadTreeView_Metro .rtLoadingIcon
{
	background-image: url('TreeView/LoadingIcon.gif');
}

.RadTreeView_Metro .rtLI .rtEdit .rtIn
{
	border-color: #000000;
	background: #ffffff;
}

.RadTreeView_Metro_disabled .rtIn,
.RadTreeView_Metro .rtDisabled .rtIn
{
	color: #e5e5e5;
}