/* <RadMenu / Transparent> */

.RadMenu_Transparent .rmRootGroup,
.RadMenu_Transparent a.rmLink,
.RadMenu_Transparent .rmText,
.RadMenu_Transparent .rmLeftArrow,
.RadMenu_Transparent .rmRightArrow,
.RadMenu_Transparent .rmTopArrow,
.RadMenu_Transparent .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_Transparent .rmRootGroup
{
	/*border: 1px solid #5e5e5e;*/
	background-repeat: repeat-x;
	background-position: 0 -408px;
	background-color: transparent;
}

/* <Root items> */

.RadMenu_Transparent,
.RadMenu_Transparent a.rmLink
{
	font: normal 12px/23px Tahoma, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
}

.RadMenu_Transparent a.rmLink,
.RadMenu_Transparent .rmText
{
	background-position: 0 1050px;
	background-repeat: no-repeat;
}

.RadMenu_Transparent a.rmLink:hover,
.RadMenu_Transparent a.rmFocused,
.RadMenu_Transparent a.rmSelected
{
	color: #000;
	background-position: 0 -72px;
}

.RadMenu_Transparent a.rmLink:hover .rmText,
.RadMenu_Transparent a.rmFocused .rmText,
.RadMenu_Transparent a.rmSelected .rmText
{
	background-position: 100% -96px;
}

.RadMenu_Transparent a.rmExpanded,
.RadMenu_Transparent a.rmExpanded:hover
{
	color: #000;
	background-position: 0 -120px;
}

.RadMenu_Transparent a.rmExpanded .rmText,
.RadMenu_Transparent a.rmExpanded:hover .rmText
{
	background-position: 100% -144px;
}

.RadMenu_Transparent a.rmDisabled,
.RadMenu_Transparent a.rmDisabled:hover
{
	color: #5e5e5e;
}

.RadMenu_Transparent a.rmDisabled:hover,
.RadMenu_Transparent a.rmDisabled:hover .rmText
{
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_Transparent .rmGroup,
.RadMenu_Transparent .rmMultiColumn,
.RadMenu_Transparent .rmGroup .rmVertical
{
	/*border: 1px solid #9199a4;*/
	background: transparent url('Menu/rmVSprite.png') repeat-y -1px 0;
}

.RadMenu_Transparent .rmTopFix,
.RadMenu_Transparent .rmBottomFix,
.RadMenu_Transparent .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Transparent .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_Transparent .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_Transparent .rmRoundedCorners ul.rmHorizontal .rmFirst,
.RadMenu_Transparent_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Transparent_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	/*background-image: url("Menu/rmVSprite.png");
	background-color: #f6f6f6; 
	background-repeat: repeat-y;
	background-position: -4px 0;*/
}

* html .rmRoundedCorners_Office2007 .rmGroup .rmItem,
* html .rmRoundedCorners_Office2007 ul.rmHorizontal .rmFirst
{
	/*background-image: url("Menu/rmVSprite.png");
	background-color: #f6f6f6; 
	background-repeat: repeat-y;
	background-position: -4px 0;*/
}

.RadMenu_Transparent .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Transparent .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Transparent .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_Transparent .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_Transparent .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Transparent .rmRoundedCorners .rmScrollWrap .rmVertical
.RadMenu_Transparent_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Transparent_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Transparent_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Transparent_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_Office2007 .rmScrollWrap .rmItem,
* html .rmRoundedCorners_Office2007 .rmHorizontal .rmItem,
* html .rmRoundedCorners_Office2007 .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_Transparent .rmRoundedCorners .rmGroupColumn
{
	background-color: transparent;
}

.RadMenu_Transparent .rmBottomLeft,
.RadMenu_Transparent .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Transparent_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Transparent_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_Transparent .rmRoundedCorners ul.rmGroup,
.RadMenu_Transparent .rmRoundedCorners .rmMultiColumn
{
	/*background-image:  url("Menu/rmRoundedLeft.png");
	background-color: transparent; 
	background-repeat: no-repeat;*/
}

* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer,
* html .rmRoundedCorners_Office2007 .rmGroup ul.rmGroup,
* html .rmRoundedCorners_Office2007 ul.rmGroup
{
	/*background-image:  url("Menu/rmRoundedLeft.png");
	background-color: transparent; 
	background-repeat: no-repeat;*/
}

.RadMenu_Transparent .rmTopRight,
.RadMenu_Transparent .rmBottomRight
{
	/*background-image:  url("Menu/rmRoundedRight.png");
	background-color: transparent; 
	background-repeat: no-repeat;*/
}

.RadMenu_Transparent .rmTopFix,
.RadMenu_Transparent .rmBottomFix,
.RadMenu_Transparent .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_Transparent_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_Office2007 .rmGroup .rmFirst
{
	/*border-color: #9199a4;*/
}

.RadMenu_Transparent .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Transparent .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_Transparent_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_Transparent_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
	/*background: #f6f6f6;*/
}

* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmBottomFix
{
	/*background: #f6f6f6;*/
}

.RadMenu_Transparent .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Transparent .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Transparent .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Transparent .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_Transparent_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Transparent_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Transparent_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Transparent_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	/*background-color: #f6f6f6;*/
	border: 0;
}

* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmRightArrow
{
	/*background-color: #f6f6f6;*/
	border: 0;
}

.RadMenu_Transparent li.rmTopFix,
.RadMenu_Transparent li.rmBottomFix
{
	background-position: -5px 0;
}

.RadMenu_Transparent_rtl .rmBottomLeft,
.RadMenu_Transparent_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_Transparent_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_Transparent .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Transparent .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_Transparent_Context_rtl ul.rmGroup,
.RadMenu_Transparent_Context.rmRoundedCorners .rmScrollWrapContainer
{
	/*background-image: url("Menu/rmRoundedLeft_rtl.png");*/
}

.RadMenu_Transparent_rtl .rmTopRight,
.RadMenu_Transparent_rtl .rmBottomRight
{
	/*background-image: url("Menu/rmRoundedRight_rtl.png");*/
}

.RadMenu_Transparent_rtl li.rmTopFix,
.RadMenu_Transparent_rtl li.rmBottomFix,
.RadMenu_Transparent_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_Transparent_Context_rtl .rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_Transparent_Context,
.RadMenu_Transparent .rmSlide  {
	background: url('Menu/rmScroll.png');
}
.RadMenu_Transparent .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_Transparent_rtl .rmGroup,
.RadMenu_Transparent_rtl .rmMultiColumn,
.RadMenu_Transparent_rtl .rmGroup .rmVertical
{
	background-position: 101% 0;
}

.RadMenu_Transparent .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_Transparent .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_Transparent .rmGroup .rmFirst,
.RadMenu_Transparent .rmGroup .rmLast,
.RadMenu_Transparent .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_Transparent_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_Office2007 .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_Transparent .rmGroup .rmLast
{
	padding-bottom: 1px;
}

.RadMenu_Transparent .rmGroup a.rmLink:hover,
.RadMenu_Transparent .rmGroup a.rmFocused,
.RadMenu_Transparent .rmGroup a.rmSelected,
.RadMenu_Transparent .rmGroup a.rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_Transparent .rmGroup a.rmLink:hover .rmText,
.RadMenu_Transparent .rmGroup a.rmFocused .rmText,
.RadMenu_Transparent .rmGroup a.rmSelected .rmText,
.RadMenu_Transparent .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_Transparent .rmVertical .rmExpandRight,
.RadMenu_Transparent_Context .rmGroup .rmExpandRight,
.RadMenu_Transparent .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_Transparent .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_Transparent .rmVertical a.rmFocused .rmExpandRight,
.RadMenu_Transparent .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_Transparent .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_Transparent .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_Transparent .rmVertical a.rmFocused .rmExpandLeft,
.RadMenu_Transparent .rmVertical a.rmExpanded .rmExpandLeft,
.RadMenu_Transparent .rmVertical a.rmSelected .rmExpandLeft
{
	background-image: url('Menu/rmRootExpand.png');
}

.RadMenu_Transparent .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_Transparent .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_Transparent .rmVertical a.rmFocused .rmExpandRight
{
	background-position: 100% -2px;
}

.RadMenu_Transparent .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_Transparent .rmVertical a.rmExpanded:hover .rmExpandRight
{
	background-position: 100% -29px;
}

.RadMenu_Transparent .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_Transparent .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_Transparent .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_Transparent .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_Transparent .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_Transparent .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_Transparent .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_Transparent .rmGroup a.rmExpanded .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -240px;
}

.RadMenu_Transparent .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Transparent_Context .rmGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Transparent_Context .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_Transparent .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_Transparent_rtl a.rmLink:hover,
.RadMenu_Transparent_rtl a.rmFocused,
.RadMenu_Transparent_rtl a.rmSelected
{
	background-position: 100% -96px;
}

.RadMenu_Transparent_rtl a.rmLink:hover .rmText,
.RadMenu_Transparent_rtl a.rmFocused .rmText,
.RadMenu_Transparent_rtl a.rmSelected .rmText
{
	background-position: 0 -72px;
}

.RadMenu_Transparent_rtl a.rmExpanded,
.RadMenu_Transparent_rtl a.rmExpanded:hover
{
	background-position: 100% -144px;
}

.RadMenu_Transparent_rtl a.rmExpanded .rmText,
.RadMenu_Transparent_rtl a.rmExpanded:hover .rmText
{
	background-position: 0 -120px;
}

.RadMenu_Transparent_rtl .rmGroup a.rmLink:hover,
.RadMenu_Transparent_rtl .rmGroup a.rmFocused,
.RadMenu_Transparent_rtl .rmGroup a.rmSelected,
.RadMenu_Transparent_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_Transparent_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_Transparent_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_Transparent_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_Transparent_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_Transparent_Context_rtl .rmVertical .rmExpandLeft,
.RadMenu_Transparent_rtl .rmRootGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_Transparent_rtl a.rmLink:hover .rmExpandLeft,
.RadMenu_Transparent_rtl a.rmSelected .rmExpandLeft,
.RadMenu_Transparent_rtl a.rmFocused .rmExpandLeft
{
	background-position: 0 -2px;
}

.RadMenu_Transparent_rtl a.rmExpanded .rmExpandLeft,
.RadMenu_Transparent_rtl a.rmExpanded:hover .rmExpandLeft
{
	background-position: 0 -29px;
}

.RadMenu_Transparent_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_Transparent_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_Transparent_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_Transparent_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
	background-image: url('Menu/rmSprite.png');
	background-position: 0 -336px;
}

.RadMenu_Transparent_Context_rtl .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_Transparent_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
	background-image: url('Menu/rmSprite.png');
	background-position: 0 -312px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Office2007 - specific, overlapping submenus)> */

.RadMenu_Transparent .rmSlide
{
	margin: -3px 0 0 1px;
}

.RadMenu_Transparent .rmVertical .rmSlide,
.RadMenu_Transparent .rmSlide .rmSlide,
.RadMenu_Transparent_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_Transparent_rtl .rmSlide
{
	margin: -3px 0 0 -1px;
}

.RadMenu_Transparent_rtl .rmVertical .rmSlide,
.RadMenu_Transparent_rtl .rmSlide .rmSlide,
.RadMenu_Transparent_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Transparent .rmLeftArrow,
.RadMenu_Transparent .rmRightArrow
{
	/*background-color: #f6f6f6;*/
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Transparent .rmLeftArrow,
.RadMenu_Transparent .rmRightArrow
{
	/*background-color: #f6f6f6;*/
}

.RadMenu_Transparent .rmLeftArrow { background-position: -8px -312px; /*border-right: 1px solid #9199a4;*/ }
.RadMenu_Transparent .rmRightArrow { background-position: -482px -216px; /*border-left: 1px solid #9199a4;*/ }

.RadMenu_Transparent .rmTopArrow,
.RadMenu_Transparent .rmBottomArrow,
.RadMenu_Transparent .rmGroup .rmLeftArrow,
.RadMenu_Transparent .rmGroup .rmRightArrow
{
	/*background-color: #f6f6f6;*/
}

.RadMenu_Transparent .rmTopArrow { background-position: 50% -367px; /*border-bottom: 1px solid #9199a4;*/ }
.RadMenu_Transparent .rmBottomArrow { background-position: 50% -391px; /*border-top: 1px solid #9199a4;*/ }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_Transparent .rmVertical .rmSeparator .rmText,
.RadMenu_Transparent .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_Transparent .rmHorizontal .rmSeparator .rmText,
.RadMenu_Transparent .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

/* </Separators> */

/* </RadMenu / Office2007> */
