.RadSiteMap_Sunset .rsmLink,
.RadSiteMap_Sunset .rsmTemplate
{
	font-family: "Segoe UI", Arial, sans-serif;
	border-bottom: 0;
	border: 1px solid #cabaab;
	background: #e1dac7;
	color: #000;
}

div.RadSiteMap_Sunset .rsmLink,
div.RadSiteMap_Sunset .rsmTemplate
{
	padding-left: 5px;
}

.RadSiteMap_Sunset .rsmLevel1 .rsmLink,
.RadSiteMap_Sunset .rsmLevel1 .rsmTemplate
{
	color: #ba3d01;
	border: 0;
	background: none;
}

.RadSiteMap_Sunset .rsmLevel2 .rsmLink,
.RadSiteMap_Sunset .rsmLevel2 .rsmTemplate,
.RadSiteMap_Sunset .rsmThreeLevels .rsmLevel1 .rsmLink,
.RadSiteMap_Sunset .rsmTwoLevels .rsmLevel1 .rsmLink,
.RadSiteMap_Sunset .rsmOneLevel .rsmItem .rsmLink
{
	color: #000;
	border: 0;
	background: none;
}

.RadSiteMap_Sunset .rsmLevel .rsmLink:hover
{
	color: #863d02;
}

.RadSiteMap_Sunset .rsmLevel2 .rsmLink:hover,
.RadSiteMap_Sunset .rsmThreeLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_Sunset .rsmTwoLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_Sunset .rsmOneLevel .rsmItem .rsmLink:hover
{
	background: #f2d429 url('SiteMap/rsmHover.png') repeat-x 0 0;
}

.RadSiteMap_Sunset .rsmLevel .rsmNodeLines .rsmItem
{
	background-image: url('SiteMap/NodeLines.png');
}
