/* RadWindow for ASP.NET AJAX Sunset Skin */

/* Window Background */

/* Horiznotal */
.RadWindow_Sunset .rwTopLeft,
.RadWindow_Sunset .rwTopRight,
.RadWindow_Sunset .rwTitlebar,
.RadWindow_Sunset .rwFooterLeft,
.RadWindow_Sunset .rwFooterRight,
.RadWindow_Sunset .rwFooterCenter,
.RadWindow_Sunset .rwTopResize,
.RadWindow_Sunset .rwStatusbar div,
.RadWindow_Sunset .rwStatusbar,
.RadWindow_Sunset .rwPopupButton,
.RadWindow_Sunset .rwPopupButton span,
.RadWindow_Sunset.rwMinimizedWindow .rwCorner
{
    background-image: url('Window/WindowHorizontalSprites.gif');
}

/* Vertical */
.RadWindow_Sunset .rwBodyLeft,
.RadWindow_Sunset .rwBodyRight,
.RadWindow_Sunset .rwStatusbarRow .rwCorner
{
	background-image: url('Window/WindowVerticalSprites.gif');
}

/* Window Shadows */

/* Horiznotal */
.RadWindow_Sunset .rwShadow .rwTopLeft,
.RadWindow_Sunset .rwShadow .rwTopRight,
.RadWindow_Sunset .rwShadow .rwTitlebar,
.RadWindow_Sunset .rwShadow .rwFooterLeft,
.RadWindow_Sunset .rwShadow .rwFooterRight,
.RadWindow_Sunset .rwShadow .rwFooterCenter,
.RadWindow_Sunset .rwShadow .rwTopResize,
.RadWindow_Sunset .rwShadow .rwStatusbar div,
.RadWindow_Sunset .rwShadow .rwStatusbar,
.RadWindow_Sunset .rwShadow .rwPopupButton,
.RadWindow_Sunset .rwShadow .rwPopupButton span,
.RadWindow_Sunset .rwShadow .rwBodyLeft,
.RadWindow_Sunset .rwShadow .rwBodyRight,
.RadWindow_Sunset .rwShadow .rwStatusbarRow .rwBodyLeft,
.RadWindow_Sunset .rwShadow .rwStatusbarRow .rwBodyRight
{
	background-image: url('Window/WindowHorizontalSprites.png');
}

/* Vertical */
.RadWindow_Sunset .rwShadow .rwBodyLeft,
.RadWindow_Sunset .rwShadow .rwBodyRight,
.RadWindow_Sunset .rwShadow .rwStatusbarRow .rwBodyLeft,
.RadWindow_Sunset .rwShadow .rwStatusbarRow .rwBodyRight
{
	background-image: url('Window/WindowVerticalSprites.png');
}

/* Shadows End */

.RadWindow_Sunset .rwStatusbar input
{
    background-color: #f7f3e9;
}

.RadWindow_Sunset .rwControlButtons a
{
    background-image: url('Window/CommandButtonSprites.gif');
}

.RadWindow_Sunset a.rwIcon
{
	background-image: url('Window/WindowHorizontalSprites.gif');
}

div.RadWindow_Sunset .rwTitlebarControls em
{
	color: #fff;
}

div.RadWindow_Sunset .rwDialogInput
{
	border: solid 1px #898772;
}

div.RadWindow_Sunset .rwDialogInput:hover
{
	border: solid 1px #44a41f;
}

div.RadWindow_Sunset .rwPopupButton .rwInnerSpan
{
    color: #045100;
}

div.RadWindow_Sunset .rwPopupButton:hover .rwInnerSpan
{
    color: #279500;
}

div.RadWindow_Sunset td.rwWindowContent
{
    background-color: #fff;
}

/* Loading Indicators */
div.RadWindow_Sunset td.rwLoading
{
    background-color: #a52900;
}

/* When ShowContentDuringLoad="true" */
div.RadWindow_Sunset td.rwWindowContent.rwLoading
{
    background-image: url('Common/loading.gif');
}

/* When ShowContentDuringLoad="false" */
div.RadWindow_Sunset input.rwLoading
{
    background-image: url('Common/loading_small.gif');
}

/* Shadow Control Buttons */

.RadWindow_Sunset .rwShadow .rwControlButtons 
{
	margin: 5px -2px 0 0;
}

.RadWindow_Sunset .rwShadow .rwControlButtons 
{
	margin: 5px -1px 0 0\9;
}

/* ctrl buttons when winodw is minimized */
.RadWindow_Sunset.rwMinimizedWindowShadow .rwShadow .rwControlButtons 
{
	margin: 9px -8px 0 0;
}


/* Icon when winodw is minimized */

.RadWindow_Sunset .rwShadow .rwControlButtons li
{
	float: left;
	padding: 0;
}

.RadWindow_Sunset .rwShadow .rwControlButtons a
{
	width: 30px; 
}

.rwInactiveWindow .rwShadow .rwTopLeft,
.rwInactiveWindow .rwShadow .rwTopRight,
.rwInactiveWindow .rwShadow .rwTitlebar,
.rwInactiveWindow .rwShadow .rwFooterLeft,
.rwInactiveWindow .rwShadow .rwFooterRight,
.rwInactiveWindow .rwShadow .rwFooterCenter,
.rwInactiveWindow .rwShadow .rwTopResize,
.rwInactiveWindow .rwShadow .rwStatusbar div,
.rwInactiveWindow .rwShadow .rwStatusbar,
.rwInactiveWindow .rwShadow .rwPopupButton,
.rwInactiveWindow .rwShadow .rwPopupButton span,
.rwInactiveWindow .rwShadow.rwMinimizedWindow .rwCorner,
.RadWindow_Sunset.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTopLeft,
.RadWindow_Sunset.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTitlebar,
.RadWindow_Sunset.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTopRight,
.RadWindow_Sunset.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterLeft,
.RadWindow_Sunset.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterCenter,
.RadWindow_Sunset.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterRight
{
    background-image: url('Window/WindowHorizontalSprites.gif') !important;
}

.rwInactiveWindow .rwShadow .rwBodyLeft,
.rwInactiveWindow .rwShadow .rwBodyRight,
.rwInactiveWindow .rwShadow .rwStatusbarRow .rwCorner,
.RadWindow_Sunset.rwNoTitleBar.rwInactiveWindow .rwShadow .rwBodyLeft,
.RadWindow_Sunset.rwNoTitleBar.rwInactiveWindow .rwShadow .rwBodyRight
{
	background-image: url('Window/WindowVerticalSprites.gif') !important;
}
