
.ReminderDialog_Web20,
.ReminderDialog_Web20 a
{
    color: #333;
    font: normal 12px/14px "Segoe UI", Arial, sans-serif;
}

.ReminderDialog_Web20 .rsRemContentPanel
{
    border-color: #6788be;
}

/* <advanced edit title> */

.ReminderDialog_Web20 .rsModalBgTopLeft,
.ReminderDialog_Web20 .rsModalBgTopRight,
.ReminderDialog_Web20 .rsModalBgBottomLeft,
.ReminderDialog_Web20 .rsModalBgBottomRight
{
    background-image: url('Scheduler/rsModalBg.png');
}

* html .ReminderDialog_Web20 .rsModalBgTopLeft,
* html .ReminderDialog_Web20 .rsModalBgTopRight,
* html .ReminderDialog_Web20 .rsModalBgBottomLeft,
* html .ReminderDialog_Web20 .rsModalBgBottomRight
{
    background-image: url('Scheduler/rsModalBgIE6.png');
}

.ReminderDialog_Web20 a.rsRemTitleBarCloseBtn
{
    height: 19px;
    margin-top: -25px;
    width: 31px;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
}

.ReminderDialog_Web20 a.rsRemTitleBarCloseBtn:hover
{
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}

.ReminderDialog_Web20 .rsRemTitleIcon,
.ReminderDialog_Web20 .rsRemTitleBarIcon,
.ReminderDialog_Web20 a.rsRemTitleBarCloseBtn,
.ReminderDialog_Web20 .rsRemActions a.rsRemDismissAllBtn,
.ReminderDialog_Web20 .rsRemActions a.rsRemOpenItemBtn,
.ReminderDialog_Web20 .rsRemActions a.rsRemDismissBtn,
.ReminderDialog_Web20 .rsRemSnoozePanel a.rsRemSnoozeBtn
{
    color: #FFF;
    background-image: url('Scheduler/rsSprites.png');
}

.ReminderDialog_Web20 .rsRemActions a.rsRemDismissAllBtn:hover,
.ReminderDialog_Web20 .rsRemActions a.rsRemOpenItemBtn:hover,
.ReminderDialog_Web20 .rsRemActions a.rsRemDismissBtn:hover,
.ReminderDialog_Web20 .rsRemSnoozePanel a.rsRemSnoozeBtn:hover
{
	color: #0f3789;
}

/* </advanced edit title> */
