.RadListBox_Sitefinity .rlbGroup
{
    border: 1px solid #C6C7D2;
    background: #FFF;
}

.RadListBox_Sitefinity .rlbTemplateContainer
{
    border-color: #C6C7D2;
}

.RadListBox_Sitefinity .rlbTemplateContainer .rlbGroup
{
    border-top: 0;
    border-bottom-color: #C6C7D2;
}

.RadListBox_Sitefinity .rlbText,
.RadListBox_Sitefinity .rlbItem,
.RadListBox_Sitefinity .rlbButtonText,
.RadListBox_Sitefinity .rlbEmptyMessage
{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

.RadListBox_Sitefinity .rlbHighlight
{
    color: #FFF;
    background-color: #689b30;
}

.RadListBox_Sitefinity .rlbButtonText
{
	font-size: 11px;
}

div.RadListBox_Sitefinity .rlbImage
{
	padding-right: 0;
}

.RadListBox_Sitefinity .rlbText,
.RadListBox_Sitefinity .rlbItem
{
	line-height: 18px;
}

.RadListBox_Sitefinity .rlbText
{
	padding-left: 2px;
}

.RadListBox_Sitefinity_rtl .rlbText
{
	padding-left: auto;
	padding-right: 2px;
}

.RadListBox_Sitefinity .rlbGroup .rlbHovered
{
	background: #e8e8e8;
	color: #FFF;
}

.RadListBox_Sitefinity .rlbGroup .rlbSelected
{
	background: #ffffe1;
}

.RadListBox_Sitefinity .rlbDisabled .rlbText
{
	color: #AAA;
}

.RadListBox_Sitefinity .rlbDisabled .rlbImage
{
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
}

.RadListBox_Sitefinity .rlbHeader
{
    font-weight: bold;
}

.RadListBox_Sitefinity .rlbFooter
{
    background-color: #DEE2E7;
}

.RadListBox_Sitefinity .rlbDropClue
{
    background-image: url('ListBox/rlbDropClue.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
	left: -10px;
	width: 10px;
}

.RadListBox_Sitefinity .rlbGroup .rlbDropClueAbove
{
	border-top-style: dotted;
	border-top-color: #8e8e8e;
}

.RadListBox_Sitefinity .rlbGroup .rlbDropClueBelow
{
	border-bottom-style: dotted;
	border-bottom-color: #8e8e8e;
}

.RadListBox_Sitefinity .rlbGroup .rlbSelected.rlbDropClueAbove,
.RadListBox_Sitefinity .rlbGroup .rlbHovered.rlbDropClueAbove,
.RadListBox_Sitefinity .rlbGroup .rlbSelected.rlbDropClueBelow,
.RadListBox_Sitefinity .rlbGroup .rlbHovered.rlbDropClueBelow
{
	border-color: #FFF;
}

/* Buttons normal state vertical layout*/
.RadListBox_Sitefinity .rlbButtonText
{
	background: transparent url('ListBox/rlbSprite.png') no-repeat;
}

.RadListBox_Sitefinity .rlbButton:hover .rlbButtonTL,
.RadListBox_Sitefinity .rlbButton:hover .rlbButtonTR,
.RadListBox_Sitefinity .rlbButton:hover .rlbButtonBL,
.RadListBox_Sitefinity .rlbButton:hover .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonHover.png');
}

* html .RadListBox_Sitefinity .rlbButton:hover .rlbButtonTL,
* html .RadListBox_Sitefinity .rlbButton:hover .rlbButtonTR,
* html .RadListBox_Sitefinity .rlbButton:hover .rlbButtonBL,
* html .RadListBox_Sitefinity .rlbButton:hover .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonHoverIE6.png');
}

.RadListBox_Sitefinity .rlbButton .rlbButtonTL,
.RadListBox_Sitefinity .rlbButton .rlbButtonTR,
.RadListBox_Sitefinity .rlbButton .rlbButtonBL,
.RadListBox_Sitefinity .rlbButton .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonNormal.png');
}

* html .RadListBox_Sitefinity .rlbButton .rlbButtonTL,
* html .RadListBox_Sitefinity .rlbButton .rlbButtonTR,
* html .RadListBox_Sitefinity .rlbButton .rlbButtonBL,
* html .RadListBox_Sitefinity .rlbButton .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonNormalIE6.png');
}

.RadListBox_Sitefinity .rlbDisabled .rlbButtonTL,
.RadListBox_Sitefinity .rlbDisabled .rlbButtonTR,
.RadListBox_Sitefinity .rlbDisabled .rlbButtonBL,
.RadListBox_Sitefinity .rlbDisabled .rlbButtonBR,
.RadListBox_Sitefinity .rlbDisabled:hover .rlbButtonTL,
.RadListBox_Sitefinity .rlbDisabled:hover .rlbButtonTR,
.RadListBox_Sitefinity .rlbDisabled:hover .rlbButtonBL,
.RadListBox_Sitefinity .rlbDisabled:hover .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonDisabled.png');
}

* html .RadListBox_Sitefinity .rlbDisabled .rlbButtonTL,
* html .RadListBox_Sitefinity .rlbDisabled .rlbButtonTR,
* html .RadListBox_Sitefinity .rlbDisabled .rlbButtonBL,
* html .RadListBox_Sitefinity .rlbDisabled .rlbButtonBR,
* html .RadListBox_Sitefinity .rlbDisabled:hover .rlbButtonTL,
* html .RadListBox_Sitefinity .rlbDisabled:hover .rlbButtonTR,
* html .RadListBox_Sitefinity .rlbDisabled:hover .rlbButtonBL,
* html .RadListBox_Sitefinity .rlbDisabled:hover .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonDisabledIE6.png');
}

.RadListBox_Sitefinity .rlbButton:hover .rlbButtonText 
{ 
	color: #000; 
}

.RadListBox_Sitefinity .rlbDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbDisabled:hover .rlbButtonText
{
	color: #888;
}

div.RadListBox .rlbButtonText 
{
	padding-left: 22px;
}

div.RadListBox .rlbNoButtonText .rlbButtonTL
{
	padding-left: 0;
}

div.RadListBox .rlbButtonTL { left: -5px; }
div.RadListBox .rlbButtonTR { bottom: 5px; }
div.RadListBox .rlbButtonBL { top: 5px; }
div.RadListBox .rlbButtonBR { right: -5px; }

.RadListBox_Sitefinity .rlbMoveUp .rlbButtonText { background-position: 2px 0; }
.RadListBox_Sitefinity .rlbMoveUp:hover .rlbButtonText { background-position: -398px 0; }
.RadListBox_Sitefinity .rlbMoveUpDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbMoveUpDisabled:hover .rlbButtonText { background-position: -198px 0; }

.RadListBox_Sitefinity .rlbMoveDown .rlbButtonText { background-position: 2px -25px; }
.RadListBox_Sitefinity .rlbMoveDown:hover .rlbButtonText { background-position: -398px -25px; }
.RadListBox_Sitefinity .rlbMoveDownDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbMoveDownDisabled:hover .rlbButtonText { background-position: -198px -25px; }

.RadListBox_Sitefinity .rlbMoveToTop .rlbButtonText { background-position: 0 -275px; }
.RadListBox_Sitefinity .rlbMoveToTop:hover .rlbButtonText { background-position: -400px -275px; }
.RadListBox_Sitefinity .rlbMoveToTopDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbMoveToTopDisabled:hover .rlbButtonText { background-position: -200px -275px; }

.RadListBox_Sitefinity .rlbMoveToBottom .rlbButtonText { background-position: 0 -300px; }
.RadListBox_Sitefinity .rlbMoveToBottom:hover .rlbButtonText { background-position: -400px -300px; }
.RadListBox_Sitefinity .rlbMoveToBottomDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbMoveToBottomDisabled:hover .rlbButtonText { background-position: -200px -300px; }

.RadListBox_Sitefinity .rlbDelete .rlbButtonText { background-position: 2px -50px; }
.RadListBox_Sitefinity .rlbDelete:hover .rlbButtonText { background-position: -398px -50px; }
.RadListBox_Sitefinity .rlbDeleteDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbDeleteDisabled:hover .rlbButtonText { background-position: -198px -50px; }


.RadListBox_Sitefinity .rlbButtonAreaRight .rlbTransferTo .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaLeft .rlbTransferFrom .rlbButtonText { background-position: 2px -100px; }
.RadListBox_Sitefinity .rlbButtonAreaLeft .rlbTransferTo .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaRight .rlbTransferFrom .rlbButtonText { background-position: 2px -75px; }
.RadListBox_Sitefinity .rlbButtonAreaLeft .rlbTransferFrom:hover .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaRight .rlbTransferTo:hover .rlbButtonText { background-position: -398px -100px; }
.RadListBox_Sitefinity .rlbButtonAreaLeft .rlbTransferTo:hover .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaRight .rlbTransferFrom:hover .rlbButtonText { background-position: -398px -75px; }

.RadListBox_Sitefinity .rlbButtonAreaRight .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaLeft .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaLeft .rlbTransferFromDisabled:hover .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaRight .rlbTransferToDisabled:hover .rlbButtonText { background-position: -198px -100px; }

.RadListBox_Sitefinity .rlbButtonAreaLeft .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaRight .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaLeft .rlbTransferToDisabled:hover .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaRight .rlbTransferFromDisabled:hover .rlbButtonText { background-position: -198px -75px; }


.RadListBox_Sitefinity .rlbButtonAreaRight .rlbTransferAllTo .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaLeft .rlbTransferAllFrom .rlbButtonText { background-position: 2px -150px; }
.RadListBox_Sitefinity .rlbButtonAreaLeft .rlbTransferAllTo .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaRight .rlbTransferAllFrom .rlbButtonText { background-position: 2px -125px; }
.RadListBox_Sitefinity .rlbButtonAreaLeft .rlbTransferAllFrom:hover .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaRight .rlbTransferAllTo:hover .rlbButtonText { background-position: -398px -150px; }
.RadListBox_Sitefinity .rlbButtonAreaLeft .rlbTransferAllTo:hover .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaRight .rlbTransferAllFrom:hover .rlbButtonText { background-position: -398px -125px; }

.RadListBox_Sitefinity .rlbButtonAreaRight .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaLeft .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaLeft .rlbTransferAllFromDisabled:hover .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaRight .rlbTransferAllToDisabled:hover .rlbButtonText { background-position: -198px -150px; }

.RadListBox_Sitefinity .rlbButtonAreaLeft .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaRight .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaLeft .rlbTransferAllToDisabled:hover .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaRight .rlbTransferAllFromDisabled:hover .rlbButtonText { background-position: -198px -125px; }


.RadListBox_Sitefinity .rlbButtonAreaBottom .rlbTransferTo .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaTop .rlbTransferFrom .rlbButtonText { background-position: 2px -198px; }
.RadListBox_Sitefinity .rlbButtonAreaTop .rlbTransferTo .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaBottom .rlbTransferFrom .rlbButtonText { background-position: 2px -175px; }
.RadListBox_Sitefinity .rlbButtonAreaTop .rlbTransferFrom:hover .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaBottom .rlbTransferTo:hover .rlbButtonText { background-position: -398px -198px; }
.RadListBox_Sitefinity .rlbButtonAreaTop .rlbTransferTo:hover .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaBottom .rlbTransferFrom:hover .rlbButtonText { background-position: -398px -175px; }

.RadListBox_Sitefinity .rlbButtonAreaBottom .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaTop .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaTop .rlbTransferFromDisabled:hover .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaBottom .rlbTransferToDisabled:hover .rlbButtonText { background-position: -198px -198px; }

.RadListBox_Sitefinity .rlbButtonAreaTop .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaBottom .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaTop .rlbTransferToDisabled:hover .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaBottom .rlbTransferFromDisabled:hover .rlbButtonText { background-position: -198px -175px; }


.RadListBox_Sitefinity .rlbButtonAreaBottom .rlbTransferAllTo .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaTop .rlbTransferAllFrom .rlbButtonText { background-position: 2px -250px; }
.RadListBox_Sitefinity .rlbButtonAreaTop .rlbTransferAllTo .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaBottom .rlbTransferAllFrom .rlbButtonText { background-position: 2px -225px; }
.RadListBox_Sitefinity .rlbButtonAreaTop .rlbTransferAllFrom:hover .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaBottom .rlbTransferAllTo:hover .rlbButtonText { background-position: -398px -250px; }
.RadListBox_Sitefinity .rlbButtonAreaTop .rlbTransferAllTo:hover .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaBottom .rlbTransferAllFrom:hover .rlbButtonText { background-position: -398px -225px; }

.RadListBox_Sitefinity .rlbButtonAreaBottom .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaTop .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaTop .rlbTransferAllFromDisabled:hover .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaBottom .rlbTransferAllToDisabled:hover .rlbButtonText { background-position: -198px -250px; }

.RadListBox_Sitefinity .rlbButtonAreaTop .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaBottom .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaTop .rlbTransferAllToDisabled:hover .rlbButtonText,
.RadListBox_Sitefinity .rlbButtonAreaBottom .rlbTransferAllFromDisabled:hover .rlbButtonText { background-position: -198px -225px; }

