/*Sprite from RFE*/

.RadToolBar_Sitefinity .rtbText
{
	background-image: url('FileExplorer/FileExplorerToolbarSprites.png');
	background-repeat: no-repeat;
}

/* IE6 does not support the alpha channel of png files, so we force it to use gif */
* html .RadToolBar_Sitefinity .rtbText
{
	background-image: url('FileExplorer/FileExplorerToolbarSpritesIE6.gif') !important;
}