/* general */

.RadSiteMap,
.RadSiteMap .rsmList,
.RadSiteMap .rsmFlow,
.RadSiteMap .rsmItem
{
	margin: 0;
	padding: 0;
}

.RadSiteMap:after
{
	content: ".";
	clear: both;
	visibility: hidden;
	display: block;
	font-size: 0;
	line-height: 0;
}

.RadSiteMap .rsmItem
{
	list-style-type: none;
}

.RadSiteMap .rsmItem
{
	clear: left;
}

.RadSiteMap .rsmLevel1 .rsmList .rsmItem
{
    margin-left: 10px;
}

.RadSiteMap .rsmLevel1 .rsmFlow .rsmItem,
.RadSiteMap .rsmLevel1 .rsmNodeLines .rsmItem
{
    margin-left: 0;
}

.RadSiteMap .rsmColumn
{
	float: left;
}

.RadSiteMap .rsmColumnWrap
{
	margin-bottom: 10px;
	overflow: hidden;
}

.RadSiteMap .rsmMultiColumn .rsmItem,
.RadSiteMap .rsmMultiColumn .rsmItem .rsmMultiColumn .rsmItem,
.RadSiteMap .rsmMultiColumn .rsmItem .rsmMultiColumn .rsmItem .rsmMultiColumn .rsmItem
{
	display: -moz-inline-block;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	padding-top: 5px;
}

.RadSiteMap .rsmMultiColumn .rsmList .rsmItem,
.RadSiteMap .rsmMultiColumn .rsmList .rsmMultiColumn .rsmList .rsmItem
{
	display: list-item;
	clear: left;
	float: none;
	padding-top: 0;
}

.RadSiteMap .rsmFlow
{
	text-align: left;
	padding-bottom: 5px;
}

.RadSiteMap .rsmLevel1 .rsmFlow
{
	margin-left: 8px;
}

.RadSiteMap .rsmFlow .rsmItem
{
	display: -moz-inline-block;
	display: inline-block;
	*display: inline;
	zoom: 1;
	float: none;
}

.RadSiteMap .rsmList .rsmNodeLines
{
	padding-left: 0;
}

.RadSiteMap .rsmNodeLines .rsmItem
{
	padding-left: 10px;
	background-image: url('Common/SiteMap/NodeLines.png');
	background-repeat: no-repeat;
	background-position: 0 -2px;
}

.RadSiteMap .rsmNodeLines .rsmItem .rsmFlow .rsmItem
{
	padding-left: 0;
	background-image: none;
}

.RadSiteMap .rsmNodeLines .rsmLast
{
	background-position: 0 -288px;
}

.RadSiteMap .rsmItem
{
	font-size: 20px;
	border-right /*\**/: 1px solid transparent\9; /* Triggers hasLayout in IE8 instead of zoom */
}

.RadSiteMap .rsmImage
{
	border: 0;
	vertical-align: middle;
	padding-right: 3px;
}

.RadSiteMap .rsmLink,
.RadSiteMap .rsmTemplate
{
	display: block;
	text-decoration: none;
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 2px 5px 2px 0;
}

.RadSiteMap .rsmFlow .rsmLink,
.RadSiteMap .rsmFlow .rsmTemplate
{
	margin-right: 0;
}

.RadSiteMap .rsmLevel1 .rsmItem
{
	font-size: 0.8em;
}

.RadSiteMap .rsmLevel1 .rsmLink,
.RadSiteMap .rsmLevel1 .rsmTemplate
{
	border-bottom-width: 1px;
	margin-bottom: 5px;
}

.RadSiteMap .rsmColumnWrap .rsmLevel1 .rsmLink,
.RadSiteMap .rsmColumnWrap .rsmLevel1 .rsmTemplate
{
	margin-right: 20px;
}

.RadSiteMap .rsmLevel2 .rsmItem
{
	font-size: 0.7em;
	padding-bottom: 1px;
}

.RadSiteMap .rsmLevel2 .rsmLink,
.RadSiteMap .rsmLevel2 .rsmTemplate
{
	display: inline-block;
	font-weight: bold;
	border-bottom: 0;
	margin-bottom: 0;
	padding-left: 5px;
}

.RadSiteMap .rsmColumnWrap .rsmLevel2 .rsmLink,
.RadSiteMap .rsmColumnWrap .rsmLevel2 .rsmTemplate
{
	margin-right: 0;
}

.RadSiteMap .rsmLevel3 .rsmItem
{
	font-size: 1em;
}

.RadSiteMap .rsmLevel3 .rsmLink,
.RadSiteMap .rsmLevel3 .rsmTemplate
{
	font-weight: normal;
	margin-top: 0;
}

.RadSiteMap .rsmThreeLevels .rsmItem
{
	font-size: 16px;
}

.RadSiteMap .rsmThreeLevels .rsmLink,
.RadSiteMap .rsmThreeLevels .rsmTemplate
{
	border-bottom-width: 1px;
	margin-bottom: 5px;
}

.RadSiteMap .rsmThreeLevels .rsmLevel1 .rsmItem
{
	font-size: 0.7em;
}

.RadSiteMap .rsmThreeLevels .rsmLevel2 .rsmItem
{
	font-size: 1em;
}

.RadSiteMap .rsmThreeLevels .rsmLevel1 .rsmLink
{
	font-weight: bold;
}

.RadSiteMap .rsmThreeLevels .rsmLevel2 .rsmLink
{
	font-weight: normal;
}

.RadSiteMap .rsmTwoLevels .rsmItem
{
	font-size: 14px;
}

.RadSiteMap .rsmTwoLevels .rsmLink,
.RadSiteMap .rsmTwoLevels .rsmTemplate
{
	margin-bottom: 5px;
}

.RadSiteMap .rsmTwoLevels .rsmLevel1 .rsmItem
{
	font-size: 0.8em;
	font-weight: bold;
	font-weight: normal;
}

.RadSiteMap .rsmOneLevel .rsmItem
{
	font-size: 11px;
	font-weight: normal;
}

.RadSiteMap .rsmThreeLevels .rsmLevel1 .rsmLink,
.RadSiteMap .rsmThreeLevels .rsmLevel1 .rsmTemplate,
.RadSiteMap .rsmTwoLevels .rsmLevel1 .rsmLink,
.RadSiteMap .rsmTwoLevels .rsmLevel1 .rsmTemplate,
.RadSiteMap .rsmOneLevel .rsmItem .rsmLink,
.RadSiteMap .rsmOneLevel .rsmItem .rsmTemplate
{
	display: inline-block;
	border-bottom: 0;
	margin-bottom: 0;
	padding-left: 5px;
}

/* IE6/7 hacks */
*+html .RadSiteMap .rsmFlow > .rsmItem > .rsmTemplate { display: inline; }
* html .RadSiteMap .rsmFlow .rsmItem .rsmTemplate { display: inline; }

*+html div.RadSiteMap {	padding-left: 1px; }
* html div.RadSiteMap { padding-left: 1px; }
*+html div.RadSiteMap .rsmList { margin-left: -1px; }
* html div.RadSiteMap .rsmList { margin-left: -1px; }
/* /IE6/7 hacks */
