/* RadButton Windows7 Skin */

.RadButton_Windows7.rbSkinnedButton,
.RadButton_Windows7 .rbDecorated,
.RadButton_Windows7.rbVerticalButton,
.RadButton_Windows7.rbVerticalButton .rbDecorated,
.RadButton_Windows7 .rbSplitRight,
.RadButton_Windows7 .rbSplitLeft
{
	background-image:url('Button/ButtonSprites.gif');
}

.RadButton_Windows7 .rbToggleCheckbox,
.RadButton_Windows7 .rbToggleCheckboxChecked,
.RadButton_Windows7 .rbToggleCheckboxFilled,
.RadButton_Windows7 .rbToggleRadio,
.RadButton_Windows7 .rbToggleRadioChecked
{
	background-image:url('Button/ToggleSprite.gif');
}

.RadButton_Windows7.rbToggleButton,
.RadButton_Windows7.rbToggleButton.rbDisabled,
.RadButton_Windows7.rbToggleButton.rbDisabled:hover
{
	color: #000;
}

.RadButton_Windows7.rbToggleButton:hover
{
	color: #1E395B;
}

.RadButton_Windows7.rbDisabled .rbDecorated,
.RadButton_Windows7.rbDisabled:hover .rbDecorated
{
	color: #666;
}

.RadButton_Windows7.rbLinkButton
{
	border: 1px solid #bdd9fb;
	color: #1E395B;
	text-decoration: none;
}

.RadButton_Windows7.rbLinkButton:hover
{
	background-color: #f7fafd;
}

.RadButton_Windows7.rbLinkButtonChecked,
.RadButton_Windows7.rbLinkButtonChecked:hover
{
	background-color: #d7e8f9;
	border: 1px solid #5e9ad5;
}

.RadButton_Windows7.rbLinkButton.rbDisabled,
.RadButton_Windows7.rbLinkButton.rbDisabled:hover
{
	background-color: #f9f8f8;
	border: 1px solid #d0d0d0;
	color: #6a6a6a;
}

.RadButton_Windows7.rbLinkButton:hover .rbSplitLeft,
.RadButton_Windows7.rbLinkButton:hover .rbSplitRight
{
	background-color: #fff;
}

.RadButton_Windows7.rbLinkButton .rbSplitRight
{
	border-left: 1px solid #bdd9fb;
}

.RadButton_Windows7.rbLinkButton .rbSplitRight:hover,
.RadButton_Windows7.rbLinkButton .rbSplitLeft:hover
{
	background-color: #f7fafd;
}

.RadButton_Windows7.rbLinkButton .rbSplitRight:active,
.RadButton_Windows7.rbLinkButton .rbSplitRight:focus
{
	background-color: #9bd2f8;
}

.RadButton_Windows7.rbLinkButton .rbSplitLeft
{
	border-right: 1px solid #bdd9fb;
}

.RadButton_Windows7.rbLinkButton .rbSplitLeft:active,
.RadButton_Windows7.rbLinkButton .rbSplitLeft:focus
{
	background-color: #9bd2f8;
}

.RadButton_Windows7.rbLinkButton.rbDisabled .rbSplitLeft,
.RadButton_Windows7.rbLinkButton.rbDisabled .rbSplitLeft:hover,
.RadButton_Windows7.rbLinkButton.rbDisabled .rbSplitLeft:active,
.RadButton_Windows7.rbLinkButton.rbDisabled .rbSplitLeft:focus
{
	border-right: 1px solid #d0d0d0;
}

.RadButton_Windows7.rbLinkButton.rbDisabled .rbSplitRight,
.RadButton_Windows7.rbLinkButton.rbDisabled .rbSplitRight:hover,
.RadButton_Windows7.rbLinkButton.rbDisabled .rbSplitRight:active,
.RadButton_Windows7.rbLinkButton.rbDisabled .rbSplitRight:focus
{
	border-left: 1px solid #d0d0d0;
}

/* IE6 Fix, should be important to override the joint selectors */
*html .RadButton_Windows7.rbLinkButton,
*html .RadButton_Windows7.rbLinkButton:hover
{
	border: 1px solid #bdd9fb !important;
}
