/* <RadToolBar / Telerik> */

/* <tool wrapper> */

/* <horizontal> */

.RadToolBar_Windows7 .rtbOuter
{
	border: 1px solid #cddaea;
}

.RadToolBar_Windows7 .rtbMiddle
{
	border: 1px solid #fbfdfe;
	background: #e4edf8 url('ToolBar/rtbControlBg.png') repeat-x 0 0;
}

/* </horizontal> */

/* <vertical> */

.RadToolBar_Windows7_Vertical .rtbMiddle
{
	background: #ebf3fb url('ToolBar/rtbVerticalControlBg.png') repeat-y 0 0;
}

/* </vertical> */

/* </tool wrapper> */

/* <buttons> */

.RadToolBar_Windows7 .rtbWrap,
.RadToolBar_Windows7 .rtbTemplate
{
	color: #1e395b;
	font: normal 12px/20px "Segoe UI", Arial, sans-serif;
}

/* <button states> */

.RadToolBar_Windows7 .rtbSplBtnFocused .rtbWrap, .RadToolBar_Windows7 .rtbSplBtnFocused .rtbOut, .RadToolBar_Windows7 .rtbSplBtnFocused .rtbMid, .RadToolBar_Windows7 .rtbSplBtnFocused .rtbIn,
.RadToolBar_Windows7 .rtbItemFocused .rtbWrap, .RadToolBar_Windows7 .rtbItemFocused .rtbOut, .RadToolBar_Windows7 .rtbItemFocused .rtbMid, .RadToolBar_Windows7 .rtbItemFocused .rtbIn,
.RadToolBar_Windows7 .rtbItemHovered .rtbWrap, .RadToolBar_Windows7 .rtbItemHovered .rtbOut, .RadToolBar_Windows7 .rtbItemHovered .rtbMid, .RadToolBar_Windows7 .rtbItemHovered .rtbIn
{
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('ToolBar/rtbHoverBg.png');
}

.RadToolBar_Windows7 .rtbSplBtnExpanded .rtbWrap, .RadToolBar_Windows7 .rtbSplBtnExpanded .rtbOut, .RadToolBar_Windows7 .rtbSplBtnExpanded .rtbMid, .RadToolBar_Windows7 .rtbSplBtnExpanded .rtbIn,
.RadToolBar_Windows7 .rtbDropDownExpanded .rtbWrap, .RadToolBar_Windows7 .rtbDropDownExpanded .rtbOut, .RadToolBar_Windows7 .rtbDropDownExpanded .rtbMid, .RadToolBar_Windows7 .rtbDropDownExpanded .rtbIn,
.RadToolBar_Windows7 .rtbChecked .rtbWrap, .RadToolBar_Windows7 .rtbChecked .rtbOut, .RadToolBar_Windows7 .rtbChecked .rtbMid, .RadToolBar_Windows7 .rtbChecked .rtbIn,
.RadToolBar_Windows7 li.rtbChecked .rtbWrap:hover, .RadToolBar_Windows7 li.rtbChecked .rtbWrap:hover .rtbOut, .RadToolBar_Windows7 li.rtbChecked .rtbWrap:hover .rtbMid, .RadToolBar_Windows7 li.rtbChecked .rtbWrap:hover .rtbIn
{
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('ToolBar/rtbActiveBg.png');
}

.RadToolBar_Windows7 .rtbItemClicked .rtbWrap, .RadToolBar_Windows7 .rtbItemClicked .rtbOut, .RadToolBar_Windows7 .rtbItemClicked .rtbMid, .RadToolBar_Windows7 .rtbItemClicked .rtbIn
{
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('ToolBar/rtbActiveBg.png');
}

/* </button states> */

/* <Drop Down Arrows> */


.RadToolBar_Windows7 .rtbSplBtn .rtbChoiceArrow,
.RadToolBar_Windows7 .rtbItem .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Windows7 .rtbChoiceArrow 
{
	background-image: url('ToolBar/rtbDropArrows.png');
}

.RadToolBar_Windows7 .rtbSplBtn .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_Windows7 .rtbExpandUp .rtbChoiceArrow 
{
	background-image: url('ToolBar/rtbUpArrows.png');
}

.RadToolBar_Windows7 .rtbSplBtnClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Windows7 .rtbSplBtnClicked .rtbChoiceArrow,
.RadToolBar_Windows7 .rtbItemClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Windows7 .rtbItemClicked .rtbChoiceArrow
{
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('ToolBar/rtbClickedDropArrows.png');
}

.RadToolBar_Windows7 .rtbSplBtnClicked .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_Windows7 .rtbItemClicked .rtbExpandUp .rtbChoiceArrow
{
	background-image: url('ToolBar/rtbClickedUpArrows.png');
}

/* </Drop Down Arrows> */

.RadToolBar_Windows7_Horizontal li.rtbSeparator 
{
	border-left: 1px solid #d1dce9;
	background: #e7eef7;
}

.RadToolBar_Windows7_Vertical li.rtbSeparator
{
	border-top: 1px solid #d1dce9;
	background: #e7eef7;
}

/* </buttons> */

/* <disabled states> */

.RadToolBar_Windows7 .rtbDisabled .rtbWrap:hover,
.RadToolBar_Windows7 .rtbDisabled .rtbWrap:hover .rtbOut,
.RadToolBar_Windows7 .rtbDisabled .rtbWrap:hover .rtbMid,
.RadToolBar_Windows7 .rtbDisabled .rtbWrap:hover .rtbIn
{
	background-image: none;
}

.RadToolBar_Windows7 .rtbDisabled .rtbWrap { color: #8BA1AE\9; }

@media screen and (-webkit-min-device-pixel-ratio:0)  /* WebKit alpha + opacity/cleartype bug, like IE wasn't enough... */
{
	.RadToolBar_Windows7 .rtbDisabled .rtbWrap { color: #8BA1AE; }
}

/* </disabled states */

/* <drop-down> */

/* <Drop Down rounded corners and shadows> */

.RadToolBarDropDown_Windows7 .rtbTopFix,
.RadToolBarDropDown_Windows7 .rtbBottomFix,
.RadToolBarDropDown_Windows7 .rtbGroup
{
	background-image: url('ToolBar/rtbDropDownBg.png');
	background-color: #fff;
	background-repeat: repeat-y;
    background-position: -1px 0;
}

.RadToolBarDropDown_Windows7 div.rtbTopFix,
.RadToolBarDropDown_Windows7 div.rtbBottomFix
{
    background-position: -2px 0;
}

.RadToolBarDropDown_Windows7 .rtbBottomLeft,
.RadToolBarDropDown_Windows7 .rtbRoundedCorners
{
	background-image:  url('ToolBar/rtbRoundedLeft.png');
	background-color: transparent;
	background-repeat: no-repeat;
}

.RadToolBarDropDown_Windows7 .rtbTopRight,
.RadToolBarDropDown_Windows7 .rtbBottomRight
{
	background-image:  url('ToolBar/rtbRoundedRight.png');
	background-color: transparent;
	background-repeat: no-repeat;
}

.RadToolBarDropDown_Windows7 .rtbTopFix,
.RadToolBarDropDown_Windows7 .rtbBottomFix,
.RadToolBarDropDown_Windows7 .rtbRoundedCorners .rtbFirst
{
	border-color: #a5b3c5;
}

.RadToolBarDropDown_Windows7_rtl .rtbBottomLeft,
.RadToolBarDropDown_Windows7_rtl .rtbRoundedCorners
{
	background-image: url('ToolBar/rtbRoundedLeft_rtl.png');
}

.RadToolBarDropDown_Windows7_rtl .rtbTopRight,
.RadToolBarDropDown_Windows7_rtl .rtbBottomRight
{
	background-image: url('ToolBar/rtbRoundedRight_rtl.png');
}

.RadToolBarDropDown_Windows7_rtl div.rtbTopFix,
.RadToolBarDropDown_Windows7_rtl div.rtbBottomFix,
.RadToolBarDropDown_Windows7_rtl .rtbGroup
{
	background-position: 101% 0;
}

/* </Drop Down rounded corners and shadows> */

.RadToolBarDropDown_Windows7
{
	border-color: #a5b3c5;
	background-color: #fff;
	background-image: url('ToolBar/rtbDropDownBg.png');
}

div.RadToolBarDropDown_Windows7
{
	background-position: -1px 0;
}

div.RadToolBarDropDown_Windows7_rtl
{
	background-position: 101% 0;
}

.RadToolBarDropDown_Windows7 .rtbWrap,
.RadToolBarDropDown_Windows7 .rtbTemplate
{
	color: #000;
	font-weight: normal;
	font-size: 12px;
	font-family: "Segoe UI", Arial, sans-serif;
}

.RadToolBarDropDown_Windows7 .rtbItemHovered,
.RadToolBarDropDown_Windows7 .rtbItemFocused,
.RadToolBarDropDown_Windows7 .rtbItemHovered .rtbWrap,
.RadToolBarDropDown_Windows7 .rtbItemFocused .rtbWrap
{
	color: #4c607a;
	background-image: url('ToolBar/rtbDropDownHover.png');
}

.RadToolBarDropDown_Windows7 .rtbDisabled .rtbWrap
{
	color: #999;
}

.RadToolBarDropDown_Windows7 .rtbSeparator
{
	border-color: #e0e0e0;
	background: #fff;
}

/* </drop-down> */

/* </RadToolBar / Telerik> */
