/* Telerik RadAjaxLoadingPanel Vista Skin */

.RadAjax_Vista .raDiv
{
	background-image:url('Common/loading.gif');
}

.RadAjax_Vista .raColor
{
	background-color:#fff;
}

.RadAjax_Vista .raTransp
{
	opacity:0.6;
	-moz-opacity:0.6;
	filter:alpha(opacity=60);
}