/* Editor/ToolBarSprites.gif */

/* RadEditor for ASP.NET AJAX Vista Skin */

.Vista.RadEditor
{
    background-color: #c2dcf0;
}

/* reWrapper */
.Vista.reWrapper
{
    border: solid 1px #9cb6c5;
}

.Vista .reContentCell
{
    border: solid 1px #9db6c5;
}

/* common settings for .reModule, .reEditorModes and .reWrapper */
.Vista.reColorPicker,
.Vista.reInsertTable,
.Vista.reDropDownBody,
.Vista.reCustomLinks a:hover
{
	border: solid 1px #979797;
}

.Vista.reDropDownBody table
{
    background: transparent;
}

.Vista .reModule,
.Vista .reEditorModes,
.Vista .reWrapper
{
	background-color: #c2dcf0;
}

/*NEW: Only in the Bottom zone - where the Statistics module is commonly set, remove uppper border, because it looks ugly*/
.Vista .reBottomZone .reModule
{
    border-top: 0;
}


.Vista .reModule
{
    border-top: solid 1px #9cb6c5;  
}

.Vista.reCustomLinks a
{
    border: solid 1px #fff; /* should be the same as the background of the dropdown */
    color: black !important;
}

.Vista.reCustomLinks a:hover
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: 0 -325px;
    background-repeat: repeat-x;
    border: solid 1px #a6d9f4;
}
/* end of module */

.reToolbar li
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: 0 -26px;
    color: #000;
}

.Vista .reSpinBox a
{
    background-image: url('Editor/ToolBarSprites.gif');
    -moz-user-select: none;
    outline: none;
}

/* separator */
.reToolbar.Vista .reSeparator
{
    background-position: center -148px;
    background-image: url('Editor/ToolBarSprites.gif');
}

/* common settings for left and right grip */
.reToolbar.Vista .reGrip
{
	background-image: url('Editor/ToolBarSprites.gif');
}

/* reTool */
.reTool span
{
    background-image: url('../Common/CommandSpritesLight.png');
}

/* IE6 does not support PNG alpha channel, so we use gifs for the command sprites instead */
* html .reTool span,
* html .reTool_text span,
* html .reTlbVertical .reTool_text span,
* html .reToolbar .reSplitButton.reTool_text span
{
    _background-image: url('../Common/CommandSpritesLightIE6.gif');
}

.reDialog .reTool,
.reModule .reTool
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: 0 -242px;
}

.reDialog .reTool:hover,
.reToolbar .reTool:hover,
.reModule .reTool:hover
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: 0 -52px;
}

.reToolbar .reTool.reTool_selected,
.reToolbar .reTool.reTool_selected:hover
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: 0 -124px;
    background-repeat: no-repeat;
}

/* .reTool_text */
.reToolbar .reTool_text span
{
    background-image: url('../Common/CommandSpritesLight.png');
}

.reToolbar .reTool_text:hover
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-repeat: repeat-x;
    background-position: 0 -100px;
    margin-left: 0;
    margin-right: 0;
    border-left: solid 1px #3c7fb1;
    border-right: solid 1px #3c7fb1;
}

.reToolbar .reTool_text.reTool_selected,
.reToolbar .reTool_text.reTool_selected:hover
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-repeat: repeat-x;
    background-position: 0 -174px;
    margin-left: 0;
    margin-right: 0;
    border-left: solid 1px #3c7fb1;
    border-right: solid 1px #3c7fb1;
}

/* these settings will not be included in the common CSS file of RadEditor */
.reToolbar .reTool_text.reTool_disabled,
.reToolbar .reTool_text.reTool_disabled:hover
{
    margin-left: 0;
    margin-right: 0;
    border: 0;
}
/* end of reTool_text */

.reTool.reSplitButton:hover
{
    background: url('Editor/ToolBarSprites.gif') no-repeat 0 -76px;
}

/* add weight to the selector for IE6 so it is applied */
* html .reToolbar .reTool.reSplitButton:hover
{
    background: url('Editor/ToolBarSprites.gif') no-repeat 0 -76px;
}

.Vista .reTool .split_arrow
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: -28px -362px;
}

.Vista .reSplitButton.reTool_text .split_arrow
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: -28px -362px;
}

/* add weight to the selector for IE6 so it is applied */
* html .Vista .reToolbar .reTool_text .split_arrow
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: -28px -362px;
}

/* add weight to the selector for IE6 so it is applied */
* html .reToolbar .reTool_text:hover
{
    background: url('Editor/ToolBarSprites.gif');
    background-position: 0 -100px;
}

.reDialog .reTool.reSplitButton,
.reModule .reTool.reSplitButton
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: 0 -218px;
}

.reDialog .reTool.reSplitButton:hover,
.reModule .reTool.reSplitButton:hover
{
    background-position: 0 -76px;
}

/* add weight to the selector for IE6 so it is applied */
* html .reToolbar .reTool.reSplitButton.reTool_disabled:hover
{
    background: none;
}
/* end of reSplitButton */

/* reDropdown */
.reDropdown:link,
.reDropdown:visited
{
    color: black !important;
}

.reDropdown,
.reTool_disabled.reDropdown:hover
{
    border-top: solid 1px #abadb3;
    border-right: solid 1px #dbdfe6;
    border-bottom: solid 1px #e3e9ef;
    border-left: solid 1px #e2e3ea;
    background-color: #fff;
    background-image: url('Editor/ToolBarSprites.gif') !important;
    background-position: right -360px !important;
}

.reDropdown:hover
{
    border: solid 1px #3c7fb1;
    background-image: url('Editor/ToolbarVerticalSprites.gif') !important;
    background-position: right 0 !important;
}

/* add weight to the selector for IE6 so it is applied */
* html .reTool_disabled.reDropdown
{
    background-image: url('Editor/ToolBarSprites.gif')t;
    background-position: right -380px;
    background-repeat: no-repeat;
}
/* end of reDropdown */

/* vertical toolbar */
.RadEditor.Vista .reTlbVertical li
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-repeat: repeat-y;
    background-position: -26px 0;
}

.RadEditor.Vista .reTlbVertical .reToolbar.Default .reGrip
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
}

.RadEditor.Vista .reTlbVertical .reToolbar.Vista .grip_first
{
    background-position: 0 0;
}

.RadEditor.Vista .reTlbVertical .reToolbar.Vista .grip_last
{
    background-position: 0 -4px;
}

.RadEditor.Vista .reTlbVertical .reToolbar.Vista .reSeparator
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -99px -12px;
}

.reTlbVertical .reTool:hover,
.reTlbVertical .reTool_text.reSplitButton:hover,
.reTlbVertical .reTool_text:hover
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -76px 0;
}

/* add weight to the selector for IE6 so it is applied */
* html .reTlbVertical .reTool_text:hover
{
	background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-repeat: no-repeat;
    background-position: -76px 0;
}

.reTlbVertical .reTool.reTool_selected,
.reTlbVertical .reTool_text.reTool_selected,
.reTlbVertical .reTool_text.reTool_selected:hover
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -52px 0;
}

/* add weight to the selector for IE6 so it is applied */
* html .reTlbVertical .reSplitButton:hover
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -76px 0;
    background-repeat: no-repeat;
}
/* end of vertical toolbar */

.reDropDownBody .reTlbVertical ul li a:hover
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -602px 0;
}

/* InsertTable itself is a kind of tool strip, so it must be styled as a toolstrip */
.Vista.reInsertTable
{
    background-color: #f0f0f0;
}

.reDropDownBody .reTlbVertical .reToolbar
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-color: #f0f0f0;
    background-position: -125px 0;
}
/* end of context menu and toolstrip */

/* spinbox */
.Vista table.reSpinBox
{
	border-top: solid 1px #abadb3;
	border-right: solid 1px #dbdfe6;
	border-bottom: solid 1px #e3e9ef;
	border-left: solid 1px #e2e3ea;
	background: white;
}

.Vista table.reSpinBox:hover
{
    border-top: solid 1px #5794bf;
	border-right: solid 1px #b7d5ea;
	border-bottom: solid 1px #c7e2f1;
	border-left: solid 1px #b7d5ea;
}

.Vista .reSpinBoxIncrease
{
	background-position: 0 -198px;
}

.Vista .reSpinBoxIncrease:hover
{
	background-position: 0 -208px;
}

.Vista .reSpinBoxDecrease
{
	background-position: -11px -198px;
}

.Vista .reSpinBoxDecrease:hover
{
	background-position: -11px -208px;
}
/* end of spinbox */

/* editor input elements */
.Vista.RadEditor input
{
	border-top: solid 1px #abadb3;
	border-right: solid 1px #dbdfe6;
	border-bottom: solid 1px #e3e9ef;
	border-left: solid 1px #e2e3ea;
	background-color: white;
}

.Vista.RadEditor input:hover
{
    border-top: solid 1px #5794bf;
	border-right: solid 1px #b7d5ea;
	border-bottom: solid 1px #c7e2f1;
	border-left: solid 1px #b7d5ea;
}
/* editor input elements */

/* editing modes */
.Vista .reMode_selected
{
    background-image: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -948px 0;
}

.Vista .reEditorModes .reMode_design span,
.Vista .reEditorModes .reMode_selected.reMode_design span
{
	background-position: -6px -5px;
}

.Vista .reEditorModes .reMode_html span,
.Vista .reEditorModes .reMode_selected.reMode_html span
{
	background-position: -6px -36px;
}

.Vista .reEditorModes .reMode_preview span,
.Vista .reEditorModes .reMode_selected.reMode_preview span
{
	background-position: -6px -69px;
}
/* end of editing modes */

/* DOM inspector */
.Vista .reModule_domlink_selected,
.Vista .reModule_domlink
{
    color: black;
}
/* end of DOM inspector */

.Vista.reDropDownBody .reItemOver
{
	background: #86c7e9;
	color: #000;
}
/* end of expanded dropdowns */

* html .reTool_selected.reTool
{
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}

/* color picker */
.Vista.reColorPicker table div
{
	border: solid 1px #c5c5c5;
}

.Vista.reColorPicker table td.reItemOver div
{
	border-color: #000;
}

.Vista.reColorPicker span
{
	border: solid 1px #c5c5c5;
}
/* end of color picker */

/* ajax spellchecker */
.reAjaxspell_button
{
    border: solid 1px #3c7fb1;
    background: #c2dcf0;
    color: #3c7fb1;
}

.Vista .reAjaxSpellCheckSuggestions table
{
    border-width: 0;
    width: 100%;
}

.Vista .reAjaxSpellCheckSeparator
{
    background-color: #979797;
}
/* ajax spellchecker */

/* custom links */
.Vista.reCustomLinks,
.Vista.reCustomLinks ul
{
	color: #000;
}

.Vista.reCustomLinks a,
.Vista.reCustomLinks a:link,
.Vista.reCustomLinks a:visited
{
    background: none transparent;
    color: #000 !important;
	cursor: default !important;
}
/* end of custom links */

/* insert table dropdown */
.reInsertTable table
{
    background: #f0f0f0;
}

.reInsertTable table td
{
    border: solid 1px #9cb6c5;
    background: white;
}

.reInsertTable .reTlbVertical ul
{
    background-color: #f0f0f0;
}

.Vista.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text,
.Vista.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:link
.Vista.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:visited
{
    color: black !important;
    background: transparent none;
    _background: none !important;
}

.Vista.reDropDownBody.reInsertTable div.reTlbVertical a.reTool_text:hover
{
    background: url('Editor/ToolbarVerticalSprites.gif');
    background-position: -1403px 0;
}

.reInsertTable .reTlbVertical ul .reTool_text span
{
    background-image: url('../Common/CommandSpritesLight.png');
    background-position: -3575 center;
}

.reInsertTable .reToolbar li .reTool:hover
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: 0 -52px;
}
/* end of insert table dropdown */

/* modules selector */
.reModule_visible_icon,
.reModule_hidden_icon
{
	display: block;
	float: left;
	height: 18px;
	width: 18px;
	background-image: url('../Common/CommonIcons.gif');
	background-repeat: no-repeat;
}

.reModule_visible_icon
{
	background-position: -8px -199px;
}

.reModule_hidden_icon
{
	background-position: -8px -103px;
	
}
/* end of modules selector */

/* resize cell */
.reResizeCell div
{
    background-image: url('Editor/ToolBarSprites.gif');
    background-position: center -301px;
}

/* reTool_disabled */
.reDialog .reTool_disabled,
.reDialog .reTool_disabled:hover,
.reToolbar .reTool_disabled,
.reToolbar .reTool_disabled:hover,
.reModule .reTool_disabled,
.reModule .reTool_disabled:hover
{
    filter: alpha(opacity=40);
    opacity: .4;
    -moz-opacity: .4;
    background-image: none;
}
/* reTool_disabled */

/* the rule below styles RadWindow's content cell, which is used in the floating and show on focus toolbar modes */
.RadWindow_Vista.reToolbarWindow td.rwWindowContent
{
    background-color: #c2dcf0;
}