.RadSiteMap_Vista .rsmLink,
.RadSiteMap_Vista .rsmTemplate
{
	font-family: "Segoe UI", Arial, sans-serif;
	border-bottom: 0;
	color: #000;
}

.RadSiteMap_Vista .rsmLevel1 .rsmLink,
.RadSiteMap_Vista .rsmLevel1 .rsmTemplate
{
	color: #567db0;
}

.RadSiteMap_Vista .rsmLink:hover
{
	color: #4d89d9;
}

.RadSiteMap_Vista .rsmLevel2 .rsmLink,
.RadSiteMap_Vista .rsmLevel2 .rsmTemplate,
.RadSiteMap_Vista .rsmThreeLevels .rsmLevel1 .rsmLink,
.RadSiteMap_Vista .rsmTwoLevels .rsmLevel1 .rsmLink,
.RadSiteMap_Vista .rsmOneLevel .rsmItem .rsmLink
{
	color: #000;
}

.RadSiteMap_Vista .rsmLevel2 .rsmLink:hover,
.RadSiteMap_Vista .rsmThreeLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_Vista .rsmTwoLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_Vista .rsmOneLevel .rsmItem .rsmLink:hover
{
	background: #d8f0fc url('SiteMap/rsmHover.png') repeat-x 0 0;
}
