/* RadSocialShare Simple Skin */

.RadSocialShare_Simple
{
	border: 1px solid #b0b0b0;
}

.RadSocialShare_Simple .sshLinkItem .sshText,
.RadComboBoxDropDown_Simple .rcbItem .sshLinkItem .sshText
{
	color: #000;
}

.RadComboBoxDropDown_Simple .rcbHovered .sshLinkItem .sshText
{
	color: #882501;
}

div.RadComboBox_Simple.sshComboWrapper table td.rcbArrowCell
{
	background-image: none;
	background-color: transparent;
	border-left-color: transparent;
}