<?xml version="1.0"?>
<configuration>

  <location path="Members.aspx">
    <system.web>
      <authorization>
        <allow roles="CreatorCoAdmin"/>
        <!--<allow users="?"/>-->
      </authorization>
    </system.web>
  </location>

  <location path="Companies.aspx">
    <system.web>
      <authorization>
        <allow roles="CreatorCoAdmin"/>
        <!--<allow users="?"/>-->
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>

</configuration>
