/* RadButton Telerik Skin */

.RadButton_Telerik.rbSkinnedButton,
.RadButton_Telerik .rbDecorated,
.RadButton_Telerik.rbVerticalButton,
.RadButton_Telerik.rbVerticalButton .rbDecorated,
.RadButton_Telerik .rbSplitRight,
.RadButton_Telerik .rbSplitLeft
{
	background-image:url('Button/ButtonSprites.gif');
}

.RadButton_Telerik .rbToggleCheckbox,
.RadButton_Telerik .rbToggleCheckboxChecked,
.RadButton_Telerik .rbToggleCheckboxFilled,
.RadButton_Telerik .rbToggleRadio,
.RadButton_Telerik .rbToggleRadioChecked
{
	background-image:url('Button/ToggleSprite.gif');
}

.RadButton_Telerik.rbToggleButton
{
	color: #000;
}

.RadButton_Telerik.rbToggleButton:hover
{
	color: #227c08;
}

.RadButton_Telerik.rbDisabled .rbDecorated,
.RadButton_Telerik.rbDisabled:hover .rbDecorated,
.RadButton_Telerik.rbToggleButton.rbDisabled,
.RadButton_Telerik.rbToggleButton.rbDisabled:hover
{
	color: #000;
}

.RadButton_Telerik.rbLinkButton
{
	border: 1px solid #51a33a;
	color: #000;
	text-decoration: none;
}

.RadButton_Telerik.rbLinkButton:hover
{
	background-color: #b6f0a3;
}

.RadButton_Telerik.rbLinkButtonChecked,
.RadButton_Telerik.rbLinkButtonChecked:hover
{
	background-color: #8cc569;
	border: 1px solid #245a04;
}

.RadButton_Telerik.rbLinkButtonChecked:hover
{
	color: #227c08;
}

.RadButton_Telerik.rbLinkButton.rbDisabled,
.RadButton_Telerik.rbLinkButton.rbDisabled:hover
{
	background-color: #f9f8f8;
	border: 1px solid #d0d0d0;
	color: #000;
}

.RadButton_Telerik.rbLinkButton:hover .rbSplitLeft,
.RadButton_Telerik.rbLinkButton:hover .rbSplitRight
{
	background-color: #fff;
}

.RadButton_Telerik.rbLinkButton .rbSplitRight
{
	border-left: 1px solid #51a33a;
}

.RadButton_Telerik.rbLinkButton .rbSplitRight:hover,
.RadButton_Telerik.rbLinkButton .rbSplitLeft:hover
{
	background-position: -126px -137px;
	background-color: #b6f0a3;
}

.RadButton_Telerik.rbLinkButton .rbSplitRight:active,
.RadButton_Telerik.rbLinkButton .rbSplitRight:focus
{
	background-color: #6ccd4c;
}

.RadButton_Telerik.rbLinkButton .rbSplitLeft
{
	border-right: 1px solid #51a33a;
}

.RadButton_Telerik.rbLinkButton .rbSplitLeft:active,
.RadButton_Telerik.rbLinkButton .rbSplitLeft:focus
{
	background-color: #6ccd4c;
}

.RadButton_Telerik.rbLinkButton.rbDisabled .rbSplitLeft,
.RadButton_Telerik.rbLinkButton.rbDisabled .rbSplitLeft:hover,
.RadButton_Telerik.rbLinkButton.rbDisabled .rbSplitLeft:active,
.RadButton_Telerik.rbLinkButton.rbDisabled .rbSplitLeft:focus
{
	border-right: 1px solid #D0D0D0;
}

.RadButton_Telerik.rbLinkButton.rbDisabled .rbSplitRight,
.RadButton_Telerik.rbLinkButton.rbDisabled .rbSplitRight:hover,
.RadButton_Telerik.rbLinkButton.rbDisabled .rbSplitRight:active,
.RadButton_Telerik.rbLinkButton.rbDisabled .rbSplitRight:focus
{
	border-left: 1px solid #D0D0D0;
}

/* IE6 Fix, should be important to override the joint selectors */
*html .RadButton_Telerik.rbLinkButton,
*html .RadButton_Telerik.rbLinkButton:hover
{
	border: 1px solid #863d02 !important;
}
