/*Telerik RadGrid Telerik Skin*/

/*global*/

.RadGrid_Telerik
{
    border:1px solid #828282;
    background:#fff;
    color:#000;
}

.RadGrid_Telerik,
.RadGrid_Telerik .rgMasterTable,
.RadGrid_Telerik .rgDetailTable,
.RadGrid_Telerik .rgGroupPanel table,
.RadGrid_Telerik .rgCommandRow table,
.RadGrid_Telerik .rgEditForm table,
.RadGrid_Telerik .rgPager table,
.GridToolTip_Telerik
{
    font:12px/16px "segoe ui",arial,sans-serif;
}

.RadGrid_Telerik .rgAdd,
.RadGrid_Telerik .rgRefresh,
.RadGrid_Telerik .rgEdit,
.RadGrid_Telerik .rgDel,
.RadGrid_Telerik .rgFilter,
.RadGrid_Telerik .rgPagePrev,
.RadGrid_Telerik .rgPageNext,
.RadGrid_Telerik .rgPageFirst,
.RadGrid_Telerik .rgPageLast,
.RadGrid_Telerik .rgExpand,
.RadGrid_Telerik .rgCollapse,
.RadGrid_Telerik .rgSortAsc,
.RadGrid_Telerik .rgSortDesc,
.RadGrid_Telerik .rgUpdate,
.RadGrid_Telerik .rgCancel,
.RadGrid_Telerik .rgUngroup,
.RadGrid_Telerik .rgExpXLS,
.RadGrid_Telerik .rgExpDOC,
.RadGrid_Telerik .rgExpPDF,
.RadGrid_Telerik .rgExpCSV
{
	background-image:url('Grid/sprite.gif');
}

/*header*/

.RadGrid_Telerik .rgHeaderDiv
{
	background:#eee 0 -8050px repeat-x url('Grid/sprite.gif');
}
.rgTwoLines .rgHeaderDiv
{
	background-position:0 -7550px;
}

.RadGrid_Telerik .rgHeader,
.RadGrid_Telerik th.rgResizeCol
{
	border:0;
	border-bottom:1px solid #828282;
	background:#f3f3f3 0 -2300px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Telerik th.rgSorted
{
	background-color:#a6e193;
	background-position:0 -2600px;
}

.RadGrid_Telerik .rgHeader,
.RadGrid_Telerik .rgHeader a
{
    color:#333;
}

/*rows*/

.RadGrid_Telerik .rgRow td,
.RadGrid_Telerik .rgAltRow td,
.RadGrid_Telerik .rgEditRow td,
.RadGrid_Telerik .rgFooter td
{
	border-style:solid;
	border-width:0 0 1px 0;
}

.RadGrid_Telerik .rgRow td
{
	border-color:#fff;
}

.RadGrid_Telerik .rgAltRow
{
	background:#f2f2f2;
}

.RadGrid_Telerik .rgAltRow td
{
	border-color:#f2f2f2;
}

.RadGrid_Telerik .rgRow .rgSorted,
.RadGrid_Telerik .rgAltRow .rgSorted
{
	border-color:#d7f8cc;
	background-color:#d7f8cc;
}

.RadGrid_Telerik .rgSelectedRow .rgSorted,
.RadGrid_Telerik .rgActiveRow .rgSorted,
.RadGrid_Telerik .rgHoveredRow .rgSorted,
.RadGrid_Telerik .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_Telerik .rgRow a,
.RadGrid_Telerik .rgAltRow a,
.RadGrid_Telerik .rgEditRow a,
.RadGrid_Telerik .rgFooter a,
.RadGrid_Telerik .rgEditForm a
{
	color:#155800;
}

.RadGrid_Telerik .rgSelectedRow
{
    background:#63ac38 0 -3900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_Telerik .rgSelectedRow .rgSorted{background-color:#63ac38}
* html .RadGrid_Telerik .rgSelectedRow .rgSorted{background-color:#63ac38}

.RadGrid_Telerik .rgActiveRow,
.RadGrid_Telerik .rgHoveredRow
{
    background:#a2ea8b 0 -2900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_Telerik .rgActiveRow .rgSorted,
*+html .RadGrid_Telerik .rgHoveredRow .rgSorted{background-color:#a2ea8b}
* html .RadGrid_Telerik .rgActiveRow .rgSorted,
* html .RadGrid_Telerik .rgHoveredRow .rgSorted{background-color:#a2ea8b}

.RadGrid_Telerik .rgEditRow
{
	background:#fff 0 -4900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_Telerik .rgEditRow .rgSorted{background-color:#fff}
* html .RadGrid_Telerik .rgEditRow .rgSorted{background-color:#fff}

.RadGrid_Telerik .rgActiveRow td,
.RadGrid_Telerik .rgActiveRow td.rgSorted,
.RadGrid_Telerik .rgHoveredRow td,
.RadGrid_Telerik .rgHoveredRow td.rgSorted
{
	border-bottom-color:#28a800;
}

.RadGrid_Telerik .rgSelectedRow td,
.RadGrid_Telerik .rgSelectedRow td.rgSorted
{
	border-bottom-color:#155800;
}

.RadGrid_Telerik .rgEditRow td,
.RadGrid_Telerik .rgEditRow td.rgSorted
{
	border-bottom-color:#333;
}

.RadGrid_Telerik .rgDrag
{
	background-image:url('Grid/rgDrag.gif');
}

/*footer*/

.RadGrid_Telerik .rgFooterDiv,
.RadGrid_Telerik .rgFooter
{
	background:#eee;
}

.RadGrid_Telerik .rgFooter td
{
	border-top:1px solid #828282;
	border-bottom:1px solid #fff;
}

/*status*/

.RadGrid_Telerik .rgStatus
{
	border:1px solid;
	border-color:#828282 #c9c9c9 #eee #c9c9c9;
	border-left-width:0;
}

.RadGrid_Telerik .rgStatus div
{
	background-image:url('Common/loading_small.gif');
}

/*pager*/

.RadGrid_Telerik .rgPager
{
	background:#eee;
}

.RadGrid_Telerik td.rgPagerCell
{
	border:1px solid;
	border-color:#828282 #eee #eee;
	border-right-width:0;
}

.RadGrid_Telerik .rgInfoPart
{
	color:#8a8a8a;
}

.RadGrid_Telerik .rgInfoPart strong
{
	color:#4c4e54;
}

.RadGrid_Telerik .rgPageFirst
{
	background-position:0 -550px;
}
.RadGrid_Telerik .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_Telerik .rgPagePrev
{
	background-position:0 -700px;
}
.RadGrid_Telerik .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_Telerik .rgPageNext
{
	background-position:0 -850px;
}
.RadGrid_Telerik .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_Telerik .rgPageLast
{
	background-position:0 -1000px;
}
.RadGrid_Telerik .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_Telerik .rgPager .rgPagerButton
{
	border-color:#d0d0d0 #aeaeae #8b8b8b;
	background:#eee repeat-x 0 -1550px url('Grid/sprite.gif');
	color:#000;
	font:12px/12px "segoe ui",arial,sans-serif;
}

.RadGrid_Telerik .rgNumPart a:hover,
.RadGrid_Telerik .rgNumPart a:hover span,
.RadGrid_Telerik .rgNumPart a.rgCurrentPage,
.RadGrid_Telerik .rgNumPart a.rgCurrentPage span
{
	background:no-repeat url('Grid/sprite.gif');
}

.RadGrid_Telerik .rgNumPart a
{
	color:#000;
}

.RadGrid_Telerik .rgNumPart a:hover
{
	background-position:100% -1250px;
}

.RadGrid_Telerik .rgNumPart a:hover span
{
	background-position:0 -1150px;
}

.RadGrid_Telerik .rgNumPart a.rgCurrentPage,
.RadGrid_Telerik .rgNumPart a.rgCurrentPage:hover
{
	background-position:100% -1450px;
}

.RadGrid_Telerik .rgNumPart a.rgCurrentPage span,
.RadGrid_Telerik .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1350px;
}

/*sorting, reordering*/

.RadGrid_Telerik .rgHeader .rgSortAsc
{
	background-position:3px -248px;
	height:10px;
}

.RadGrid_Telerik .rgHeader .rgSortDesc
{
	background-position:3px -198px;
	height:10px;
}

.GridReorderTop_Telerik,
.GridReorderBottom_Telerik
{
	background:0 0 no-repeat url('Grid/sprite.gif');
}

.GridReorderBottom_Telerik
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_Telerik .rgFilterRow
{
	background:#eee;
}

.RadGrid_Telerik .rgFilterRow td
{
    border-bottom:1px solid #828282;
}

.RadGrid_Telerik .rgFilter
{
	background-position:0 -300px;
}

.RadGrid_Telerik .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_Telerik .rgFilterActive,
.RadGrid_Telerik .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_Telerik .rgFilterBox
{
	border-color:#8e8e8e #c9c9c9 #c9c9c9 #8e8e8e;
	font:12px "segoe ui",arial,sans-serif;
	color:#333;
}

/*filter context menu*/

.RadMenu_Telerik .rgHCMClear,
.RadMenu_Telerik .rgHCMFilter
{
	border-color:#ccc #999 #a8a8a8;
	background:#eee center -23px repeat-x url('FormDecorator/ButtonSprites.png');
	color:#000;
	font-family:"segoe ui",arial,sans-serif;
}

.RadMenu_Telerik .rgHCMClear:hover,
.RadMenu_Telerik .rgHCMFilter:hover
{
	border-color:#2ebf00 #2bb500 #28a800;
	background-position:center -67px;
	background-color:#a2ea8b;
}

/*context menu*/

.GridContextMenu_Telerik .rmLeftImage
{
	background-image:url('../Common/Grid/contextMenu.gif');
}

.GridContextMenu_Telerik .rgHCMSortAsc .rmLeftImage
{
	background-position:0 0;
}

.GridContextMenu_Telerik .rgHCMSortDesc .rmLeftImage
{
	background-position:0 -40px;
}

.GridContextMenu_Telerik .rgHCMUnsort .rmLeftImage
{
	background-position:0 -80px;
}

.GridContextMenu_Telerik .rgHCMGroup .rmLeftImage
{
	background-position:0 -120px;
}

.GridContextMenu_Telerik .rgHCMUngroup .rmLeftImage
{
	background-position:0 -160px;
}

.GridContextMenu_Telerik .rgHCMCols .rmLeftImage
{
	background-position:0 -200px;
}

.GridContextMenu_Telerik .rgHCMFilter .rmLeftImage
{
	background-position:0 -240px;
}

.GridContextMenu_Telerik .rgHCMUnfilter .rmLeftImage
{
	background-position:0 -280px;
}

/*grouping*/

.RadGrid_Telerik .rgGroupPanel
{
	border:0;
	border-bottom:1px solid #828282;
	background:#eee 0 -1900px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Telerik .rgGroupPanel td
{
	border:0;
	padding:3px 4px;
}

.RadGrid_Telerik .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_Telerik .rgGroupPanel .rgSortAsc
{
	background-position:4px -143px;
}

.RadGrid_Telerik .rgGroupPanel .rgSortDesc
{
	background-position:4px -93px;
}

.RadGrid_Telerik .rgUngroup
{
	background-position:0 -7498px;
}

.RadGrid_Telerik .rgGroupItem
{
	border:1px solid;
	border-color:#d0d0d0 #bdbdbd #8a8a8a;
	background:#e8e8e8 0 -6500px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Telerik .rgMasterTable td.rgGroupCol,
.RadGrid_Telerik .rgMasterTable td.rgExpandCol
{
	border-color:#d2f8c5;
	background:#d2f8c5 none;
}

.RadGrid_Telerik .rgGroupHeader,
.RadGrid_Telerik .rgGroupHeader td.rgGroupCol
{
    background:#d2f8c5 0 -7000px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Telerik .rgGroupHeader
{
	font-size:1.1em;
	line-height:21px;
}

.RadGrid_Telerik .rgGroupHeader td
{
	border-bottom:1px solid #98ec7d;
}

.RadGrid_Telerik .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_Telerik .rgCollapse
{
	background-position:3px -444px;
}

/*editing*/

.RadGrid_Telerik .rgEditForm
{
	border-bottom:1px solid #828282;
}

.RadGrid_Telerik .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_Telerik .rgCancel
{
	background-position:0 -1850px;
}

/*hierarchy*/

.RadGrid_Telerik .rgDetailTable
{
	border-color:#828282;
}

/*command row*/

.RadGrid_Telerik .rgCommandRow
{
	background:#b5b5b5 0 -2099px repeat-x url('Grid/sprite.gif');
	color:#000;
}

.RadGrid_Telerik .rgCommandCell
{
	border:0;
	padding:0;
}

.RadGrid_Telerik thead .rgCommandCell
{
	border-bottom:1px solid #8b8b8b;
}

.RadGrid_Telerik tfoot .rgCommandCell,
.RadGrid_Telerik .rgMasterTable>tbody>tr.rgCommandRow .rgCommandCell
{
	border-top:1px solid #a1a1a1;
}

.RadGrid_Telerik .rgCommandTable td
{
	border:0;
	padding:2px 7px;
}

.RadGrid_Telerik .rgCommandTable
{
	border:1px solid;
	border-color:#f5f5f5 #e4e4e4 #d5d5d5;
}

.RadGrid_Telerik .rgCommandRow a
{
	color:#000;
	text-decoration:none;
}

.RadGrid_Telerik .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_Telerik .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_Telerik .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_Telerik .rgDel
{
	background-position:0 -1750px;
}

.RadGrid_Telerik .rgExpXLS,
.RadGrid_Telerik .rgExpDOC,
.RadGrid_Telerik .rgExpPDF,
.RadGrid_Telerik .rgExpCSV
{
	background-image:url('../Common/Grid/export.gif');
}

.RadGrid_Telerik .rgExpXLS
{
	background-position:0 0;
}
.RadGrid_Telerik .rgExpDOC
{
	background-position:0 -50px;
}
.RadGrid_Telerik .rgExpPDF
{
	background-position:0 -100px;
}
.RadGrid_Telerik .rgExpCSV
{
	background-position:0 -150px;
}

/*multirow select*/

.GridRowSelector_Telerik
{
	background:#155800;
}

/*row drag n drop*/

.GridItemDropIndicator_Telerik
{
    border-top:1px dashed #155800;
}

/*tooltip*/

.GridToolTip_Telerik
{
	border:1px solid #828282;
	padding:3px;
	background:#fff;
	color:#000;
}

/*rtl*/

.RadGridRTL_Telerik .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_Telerik .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_Telerik .rgPagePrev
{
	background-position:0 -850px;
}
.RadGridRTL_Telerik .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_Telerik .rgPageNext
{
	background-position:0 -700px;
}
.RadGridRTL_Telerik .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_Telerik .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_Telerik .rgPageLast:hover
{
	background-position:0 -600px;
}

.RadGridRTL_Telerik .rgExpand
{
	background-position:-20px -496px;
}