.RadSiteMap_Telerik .rsmLink,
.RadSiteMap_Telerik .rsmTemplate
{
	font-family: "Segoe UI", Arial, sans-serif;
	border-bottom: 0;
	color: #000;
}

.RadSiteMap_Telerik .rsmLevel1 .rsmLink,
.RadSiteMap_Telerik .rsmLevel1 .rsmTemplate
{
	color: #316300;
}

.RadSiteMap_Telerik .rsmLink:hover
{
	color: #51a300;
}

.RadSiteMap_Telerik .rsmLevel2 .rsmLink,
.RadSiteMap_Telerik .rsmLevel2 .rsmTemplate,
.RadSiteMap_Telerik .rsmThreeLevels .rsmLevel1 .rsmLink,
.RadSiteMap_Telerik .rsmTwoLevels .rsmLevel1 .rsmLink,
.RadSiteMap_Telerik .rsmOneLevel .rsmItem .rsmLink
{
	color: #000;
}

.RadSiteMap_Telerik .rsmLevel2 .rsmLink:hover,
.RadSiteMap_Telerik .rsmThreeLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_Telerik .rsmTwoLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_Telerik .rsmOneLevel .rsmItem .rsmLink:hover
{
	background: #a6eb90 url('SiteMap/rsmHover.png') repeat-x 0 0;
}
