/* RadSocialShare Office2010Blue Skin */

.RadSocialShare_Office2010Blue
{
	border: 1px solid #9babc2;
	background-color: #dbe7f5;
}

.RadSocialShare_Office2010Blue .sshLinkItem .sshText,
.RadComboBoxDropDown_Office2010Blue .rcbItem .sshLinkItem .sshText
{
	color: #384e73;
}

.RadComboBoxDropDown_Office2010Blue .rcbHovered .sshLinkItem .sshText
{
	color: #1e395b;
}