.RadSiteMap_Forest .rsmLink,
.RadSiteMap_Forest .rsmTemplate
{
	font-family: "Segoe UI", Arial, sans-serif;
	border-bottom: 2px solid #3c6716;
	color: #3c4c30;
}

.RadSiteMap_Forest .rsmLevel2 .rsmLink,
.RadSiteMap_Forest .rsmLevel2 .rsmTemplate,
.RadSiteMap_Forest .rsmThreeLevels .rsmLevel1 .rsmLink,
.RadSiteMap_Forest .rsmTwoLevels .rsmLevel1 .rsmLink,
.RadSiteMap_Forest .rsmOneLevel .rsmItem .rsmLink
{
	color: #2b2c20;
}

.RadSiteMap_Forest .rsmLink:hover
{
	color: #6c7c60;
}

.RadSiteMap_Forest .rsmLevel2 .rsmLink:hover,
.RadSiteMap_Forest .rsmThreeLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_Forest .rsmTwoLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_Forest .rsmOneLevel .rsmItem .rsmLink:hover
{
	color: #7a1b05;
	background: #d57a08 url('SiteMap/rsmHover.png') repeat-x 0 0;
}

.RadSiteMap_Forest .rsmLevel .rsmNodeLines .rsmItem
{
	background-image: url('SiteMap/NodeLines.png');
}
