/* RadSocialShare Forest Skin */

.RadSocialShare_Forest
{
	border: 1px solid #588a4d;
	background-color: #c2d197;
}

.RadSocialShare_Forest .sshLinkItem .sshText,
.RadComboBoxDropDown_Forest .rcbItem .sshLinkItem .sshText
{
	color: #2b2c20;
}

.RadSocialShare_Forest .sshLinkItem:hover .sshText
{
	color: #7a1b05;
}

.RadComboBoxDropDown_Forest .rcbHovered .sshLinkItem .sshText
{
	color: #fff;
}

.RadComboBox_Forest.sshComboWrapper td.rcbArrowCellRight,
.RadComboBox_Forest.sshComboWrapper .rcbFocused td.rcbArrowCellRight
{
	background-position: right -110px;
}