.RadListBox_WebBlue .rlbGroup
{
    border: 1px solid #768ca5;
    background: #FFF;
}

.RadListBox_WebBlue .rlbTemplateContainer
{
    border-color: #768ca5;
}

.RadListBox_WebBlue .rlbTemplateContainer .rlbGroup
{
    border-top-color: #C7DCF9;
    border-bottom-color: #D3DDE4;
}

.RadListBox_WebBlue .rlbText,
.RadListBox_WebBlue .rlbItem,
.RadListBox_WebBlue .rlbButtonText,
.RadListBox_WebBlue .rlbEmptyMessage
{
	font-size: 12px;
	font-family: "Segoe UI", Arial, sans-serif;
	color: #000;
}

.RadListBox_WebBlue .rlbHighlight
{
    color: #FFF;
    background-color: #368eb1;
}

.RadListBox_WebBlue .rlbText,
.RadListBox_WebBlue .rlbItem
{
	line-height: 18px;
}

.RadListBox_WebBlue .rlbGroup .rlbHovered
{
	background: #e9f8ff;
}

.RadListBox_WebBlue .rlbGroup .rlbSelected
{
	background: #9edaf2;
}

.RadListBox_WebBlue .rlbDisabled .rlbText
{
	color: #777;
}

.RadListBox_WebBlue .rlbDisabled .rlbImage
{
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
}

.RadListBox_WebBlue .rlbHeader,
.RadListBox_WebBlue .rlbFooter
{
    background-color: #F0F2F4;
}

.RadListBox_WebBlue .rlbDropClue
{
    background-image: url('ListBox/rlbDropClue.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
	left: -10px;
	width: 10px;
}

.RadListBox_WebBlue .rlbGroup .rlbDropClueAbove
{
	border-top-style: dotted;
	border-top-color: #8e8e8e;
}

.RadListBox_WebBlue .rlbGroup .rlbDropClueBelow
{
	border-bottom-style: dotted;
	border-bottom-color: #8e8e8e;
}

/* Buttons normal state vertical layout*/
.RadListBox_WebBlue .rlbButtonText
{
	background: transparent url('ListBox/rlbSprite.png') no-repeat;
}

.RadListBox_WebBlue .rlbButton:hover .rlbButtonTL,
.RadListBox_WebBlue .rlbButton:hover .rlbButtonTR,
.RadListBox_WebBlue .rlbButton:hover .rlbButtonBL,
.RadListBox_WebBlue .rlbButton:hover .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonHover.png');
}

* html .RadListBox_WebBlue .rlbButton:hover .rlbButtonTL,
* html .RadListBox_WebBlue .rlbButton:hover .rlbButtonTR,
* html .RadListBox_WebBlue .rlbButton:hover .rlbButtonBL,
* html .RadListBox_WebBlue .rlbButton:hover .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonHoverIE6.png');
}

.RadListBox_WebBlue .rlbButton .rlbButtonTL,
.RadListBox_WebBlue .rlbButton .rlbButtonTR,
.RadListBox_WebBlue .rlbButton .rlbButtonBL,
.RadListBox_WebBlue .rlbButton .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonNormal.png');
}

* html .RadListBox_WebBlue .rlbButton .rlbButtonTL,
* html .RadListBox_WebBlue .rlbButton .rlbButtonTR,
* html .RadListBox_WebBlue .rlbButton .rlbButtonBL,
* html .RadListBox_WebBlue .rlbButton .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonNormalIE6.png');
}

.RadListBox_WebBlue .rlbDisabled .rlbButtonTL,
.RadListBox_WebBlue .rlbDisabled .rlbButtonTR,
.RadListBox_WebBlue .rlbDisabled .rlbButtonBL,
.RadListBox_WebBlue .rlbDisabled .rlbButtonBR,
.RadListBox_WebBlue .rlbDisabled:hover .rlbButtonTL,
.RadListBox_WebBlue .rlbDisabled:hover .rlbButtonTR,
.RadListBox_WebBlue .rlbDisabled:hover .rlbButtonBL,
.RadListBox_WebBlue .rlbDisabled:hover .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonDisabled.png');
}

* html .RadListBox_WebBlue .rlbDisabled .rlbButtonTL,
* html .RadListBox_WebBlue .rlbDisabled .rlbButtonTR,
* html .RadListBox_WebBlue .rlbDisabled .rlbButtonBL,
* html .RadListBox_WebBlue .rlbDisabled .rlbButtonBR,
* html .RadListBox_WebBlue .rlbDisabled:hover .rlbButtonTL,
* html .RadListBox_WebBlue .rlbDisabled:hover .rlbButtonTR,
* html .RadListBox_WebBlue .rlbDisabled:hover .rlbButtonBL,
* html .RadListBox_WebBlue .rlbDisabled:hover .rlbButtonBR
{
	background-image: url('ListBox/rlbButtonDisabledIE6.png');
}

.RadListBox_WebBlue .rlbButton .rlbButtonText,
.RadListBox_WebBlue .rlbButton:hover .rlbButtonText
{
	color: #0d202b;
}

.RadListBox_WebBlue .rlbDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbDisabled:hover .rlbButtonText
{
	color: #777;
}

.RadListBox_WebBlue .rlbMoveUp .rlbButtonText { background-position: 0 0; }
.RadListBox_WebBlue .rlbMoveUp:hover .rlbButtonText { background-position: -400px 0; }
.RadListBox_WebBlue .rlbMoveUpDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbMoveUpDisabled:hover .rlbButtonText { background-position: -200px 0; }

.RadListBox_WebBlue .rlbMoveDown .rlbButtonText { background-position: 0 -25px; }
.RadListBox_WebBlue .rlbMoveDown:hover .rlbButtonText { background-position: -400px -25px; }
.RadListBox_WebBlue .rlbMoveDownDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbMoveDownDisabled:hover .rlbButtonText { background-position: -200px -25px; }

.RadListBox_WebBlue .rlbMoveToTop .rlbButtonText { background-position: 0 -275px; }
.RadListBox_WebBlue .rlbMoveToTop:hover .rlbButtonText { background-position: -400px -275px; }
.RadListBox_WebBlue .rlbMoveToTopDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbMoveToTopDisabled:hover .rlbButtonText { background-position: -200px -275px; }

.RadListBox_WebBlue .rlbMoveToBottom .rlbButtonText { background-position: 0 -300px; }
.RadListBox_WebBlue .rlbMoveToBottom:hover .rlbButtonText { background-position: -400px -300px; }
.RadListBox_WebBlue .rlbMoveToBottomDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbMoveToBottomDisabled:hover .rlbButtonText { background-position: -200px -300px; }

.RadListBox_WebBlue .rlbDelete .rlbButtonText { background-position: 0 -50px; }
.RadListBox_WebBlue .rlbDelete:hover .rlbButtonText { background-position: -400px -50px; }
.RadListBox_WebBlue .rlbDeleteDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbDeleteDisabled:hover .rlbButtonText { background-position: -200px -50px; }


.RadListBox_WebBlue .rlbButtonAreaRight .rlbTransferTo .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaLeft .rlbTransferFrom .rlbButtonText { background-position: 0 -100px; }
.RadListBox_WebBlue .rlbButtonAreaLeft .rlbTransferTo .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaRight .rlbTransferFrom .rlbButtonText { background-position: 0 -75px; }
.RadListBox_WebBlue .rlbButtonAreaLeft .rlbTransferFrom:hover .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaRight .rlbTransferTo:hover .rlbButtonText { background-position: -400px -100px; }
.RadListBox_WebBlue .rlbButtonAreaLeft .rlbTransferTo:hover .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaRight .rlbTransferFrom:hover .rlbButtonText { background-position: -400px -75px; }

.RadListBox_WebBlue .rlbButtonAreaRight .rlbTransferToDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaLeft .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaLeft .rlbTransferFromDisabled:hover .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaRight .rlbTransferToDisabled:hover .rlbButtonText { background-position: -200px -100px; }

.RadListBox_WebBlue .rlbButtonAreaLeft .rlbTransferToDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaRight .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaLeft .rlbTransferToDisabled:hover .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaRight .rlbTransferFromDisabled:hover .rlbButtonText { background-position: -200px -75px; }


.RadListBox_WebBlue .rlbButtonAreaRight .rlbTransferAllTo .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaLeft .rlbTransferAllFrom .rlbButtonText { background-position: 0 -150px; }
.RadListBox_WebBlue .rlbButtonAreaLeft .rlbTransferAllTo .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaRight .rlbTransferAllFrom .rlbButtonText { background-position: 0 -125px; }
.RadListBox_WebBlue .rlbButtonAreaLeft .rlbTransferAllFrom:hover .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaRight .rlbTransferAllTo:hover .rlbButtonText { background-position: -400px -150px; }
.RadListBox_WebBlue .rlbButtonAreaLeft .rlbTransferAllTo:hover .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaRight .rlbTransferAllFrom:hover .rlbButtonText { background-position: -400px -125px; }

.RadListBox_WebBlue .rlbButtonAreaRight .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaLeft .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaLeft .rlbTransferAllFromDisabled:hover .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaRight .rlbTransferAllToDisabled:hover .rlbButtonText { background-position: -200px -150px; }

.RadListBox_WebBlue .rlbButtonAreaLeft .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaRight .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaLeft .rlbTransferAllToDisabled:hover .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaRight .rlbTransferAllFromDisabled:hover .rlbButtonText { background-position: -200px -125px; }


.RadListBox_WebBlue .rlbButtonAreaBottom .rlbTransferTo .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaTop .rlbTransferFrom .rlbButtonText { background-position: 0 -200px; }
.RadListBox_WebBlue .rlbButtonAreaTop .rlbTransferTo .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaBottom .rlbTransferFrom .rlbButtonText { background-position: 0 -175px; }
.RadListBox_WebBlue .rlbButtonAreaTop .rlbTransferFrom:hover .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaBottom .rlbTransferTo:hover .rlbButtonText { background-position: -400px -200px; }
.RadListBox_WebBlue .rlbButtonAreaTop .rlbTransferTo:hover .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaBottom .rlbTransferFrom:hover .rlbButtonText { background-position: -400px -175px; }

.RadListBox_WebBlue .rlbButtonAreaBottom .rlbTransferToDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaTop .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaTop .rlbTransferFromDisabled:hover .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaBottom .rlbTransferToDisabled:hover .rlbButtonText { background-position: -200px -200px; }

.RadListBox_WebBlue .rlbButtonAreaTop .rlbTransferToDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaBottom .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaTop .rlbTransferToDisabled:hover .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaBottom .rlbTransferFromDisabled:hover .rlbButtonText { background-position: -200px -175px; }


.RadListBox_WebBlue .rlbButtonAreaBottom .rlbTransferAllTo .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaTop .rlbTransferAllFrom .rlbButtonText { background-position: 0 -250px; }
.RadListBox_WebBlue .rlbButtonAreaTop .rlbTransferAllTo .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaBottom .rlbTransferAllFrom .rlbButtonText { background-position: 0 -225px; }
.RadListBox_WebBlue .rlbButtonAreaTop .rlbTransferAllFrom:hover .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaBottom .rlbTransferAllTo:hover .rlbButtonText { background-position: -400px -250px; }
.RadListBox_WebBlue .rlbButtonAreaTop .rlbTransferAllTo:hover .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaBottom .rlbTransferAllFrom:hover .rlbButtonText { background-position: -400px -225px; }

.RadListBox_WebBlue .rlbButtonAreaBottom .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaTop .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaTop .rlbTransferAllFromDisabled:hover .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaBottom .rlbTransferAllToDisabled:hover .rlbButtonText { background-position: -200px -250px; }

.RadListBox_WebBlue .rlbButtonAreaTop .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaBottom .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaTop .rlbTransferAllToDisabled:hover .rlbButtonText,
.RadListBox_WebBlue .rlbButtonAreaBottom .rlbTransferAllFromDisabled:hover .rlbButtonText { background-position: -200px -225px; }

