/* <RadMenu / WebBlue> */

.RadMenu_WebBlue .rmRootGroup,
.RadMenu_WebBlue a.rmLink,
.RadMenu_WebBlue .rmText,
.RadMenu_WebBlue .rmLeftArrow,
.RadMenu_WebBlue .rmRightArrow,
.RadMenu_WebBlue .rmTopArrow,
.RadMenu_WebBlue .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_WebBlue .rmRootGroup
{
	border: 1px solid #3d556c;
	background-color: #627f97;
}

.RadMenu_WebBlue .rmHorizontal
{
	background-position: 0 0;
	background-repeat: repeat-x;
}

.RadMenu_WebBlue .rmVertical
{
	background-position: 0 -425px;
	background-repeat: repeat-x;
}

/* <Root items> */

.RadMenu_WebBlue,
.RadMenu_WebBlue a.rmLink
{
	font: normal 12px/23px "Segoe UI", Arial, sans-serif;
	text-decoration: none;
}

.RadMenu_WebBlue a.rmLink
{
	color: #fff;
}

.RadMenu_WebBlue a.rmLink,
.RadMenu_WebBlue .rmText
{
	background-position: 0 1050px;
	background-repeat: no-repeat;
}

.RadMenu_WebBlue a.rmLink:hover,
.RadMenu_WebBlue a.rmFocused,
.RadMenu_WebBlue a.rmSelected
{
	color: #0d202b;
	background-position: 0 -72px;
}

.RadMenu_WebBlue a.rmLink:hover .rmText,
.RadMenu_WebBlue a.rmFocused .rmText,
.RadMenu_WebBlue a.rmSelected .rmText
{
	background-position: 100% -96px;
}

.RadMenu_WebBlue a.rmExpanded,
.RadMenu_WebBlue a.rmExpanded:hover
{
	color: #0d202b;
	background-position: 0 -120px;
}

.RadMenu_WebBlue a.rmExpanded .rmText,
.RadMenu_WebBlue a.rmExpanded:hover .rmText
{
	background-position: 100% -144px;
}

.RadMenu_WebBlue a.rmDisabled,
.RadMenu_WebBlue a.rmDisabled:hover
{
	color: #aaa;
}

.RadMenu_WebBlue a.rmDisabled:hover,
.RadMenu_WebBlue a.rmDisabled:hover .rmText
{
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_WebBlue .rmGroup,
.RadMenu_WebBlue .rmMultiColumn,
.RadMenu_WebBlue .rmGroup .rmVertical
{
	border: 1px solid #768ca5;
	background: #f0f2f4 url('Menu/rmVSprite.png') repeat-y 0 0;
}

.RadMenu_WebBlue .rmTopFix,
.RadMenu_WebBlue .rmBottomFix,
.RadMenu_WebBlue .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_WebBlue .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_WebBlue .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_WebBlue_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_WebBlue_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #f0f2f4; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

* html .rmRoundedCorners_WebBlue .rmGroup .rmItem,
* html .rmRoundedCorners_WebBlue ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #f0f2f4; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

.RadMenu_WebBlue .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_WebBlue .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_WebBlue .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_WebBlue .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_WebBlue .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_WebBlue .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_WebBlue_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_WebBlue_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_WebBlue_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_WebBlue_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_WebBlue .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_WebBlue .rmScrollWrap .rmItem,
* html .rmRoundedCorners_WebBlue .rmHorizontal .rmItem,
* html .rmRoundedCorners_WebBlue .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_WebBlue .rmRoundedCorners .rmGroupColumn
{
	background-color: #f0f2f4;
}

.RadMenu_WebBlue .rmBottomLeft,
.RadMenu_WebBlue .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_WebBlue_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_WebBlue_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_WebBlue .rmRoundedCorners ul.rmGroup,
.RadMenu_WebBlue .rmRoundedCorners .rmMultiColumn
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_WebBlue .rmScrollWrapContainer,
* html .rmRoundedCorners_WebBlue .rmGroup ul.rmGroup,
* html .rmRoundedCorners_WebBlue ul.rmGroup
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_WebBlue .rmTopRight,
.RadMenu_WebBlue .rmBottomRight
{
	background-image:  url('Menu/rmRoundedRight.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_WebBlue .rmTopFix,
.RadMenu_WebBlue .rmBottomFix,
.RadMenu_WebBlue .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_WebBlue_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_WebBlue .rmGroup .rmFirst
{
	border-color: #768ca5;
}

.RadMenu_WebBlue li.rmTopFix,
.RadMenu_WebBlue li.rmBottomFix
{
	background: #f0f2f4;
}

.RadMenu_WebBlue .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_WebBlue .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_WebBlue .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_WebBlue .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_WebBlue_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_WebBlue_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_WebBlue_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_WebBlue_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #f0f2f4;
	border: 0;
}

* html .rmRoundedCorners_WebBlue .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_WebBlue .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_WebBlue .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_WebBlue .rmScrollWrapContainer .rmRightArrow
{
	background-color: #f0f2f4;
	border: 0;
}

.RadMenu_WebBlue_rtl .rmBottomLeft,
.RadMenu_WebBlue_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_WebBlue_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_WebBlue .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_WebBlue .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_WebBlue_Context_rtl ul.rmGroup,
.RadMenu_WebBlue_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_WebBlue_rtl .rmTopRight,
.RadMenu_WebBlue_rtl .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_WebBlue_rtl li.rmTopFix,
.RadMenu_WebBlue_rtl li.rmBottomFix,
.RadMenu_WebBlue_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_WebBlue_Context_rtl ul.rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_WebBlue .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_WebBlue_rtl .rmGroup,
.RadMenu_WebBlue_rtl .rmMultiColumn,
.RadMenu_WebBlue_rtl .rmGroup .rmVertical
{
	background-position: 100% 0;
}

.RadMenu_WebBlue .rmGroup a.rmLink
{
	color: #000;
}

.RadMenu_WebBlue .rmGroup a.rmLink:hover,
.RadMenu_WebBlue .rmGroup a.rmFocused,
.RadMenu_WebBlue .rmGroup a.rmSelected
{
	color: #0e3d4f;
}

.RadMenu_WebBlue .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_WebBlue .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_WebBlue .rmGroup .rmFirst,
.RadMenu_WebBlue .rmGroup .rmLast,
.RadMenu_WebBlue .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_WebBlue_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_WebBlue .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_WebBlue .rmGroup .rmLast
{
	padding-bottom: 1px;
}

.RadMenu_WebBlue .rmGroup a.rmLink:hover,
.RadMenu_WebBlue .rmGroup a.rmFocused,
.RadMenu_WebBlue .rmGroup a.rmSelected,
.RadMenu_WebBlue .rmGroup a.rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_WebBlue .rmGroup a.rmLink:hover .rmText,
.RadMenu_WebBlue .rmGroup a.rmFocused .rmText,
.RadMenu_WebBlue .rmGroup a.rmSelected .rmText,
.RadMenu_WebBlue .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;
}

.RadMenu_WebBlue .rmGroup a.rmDisabled,
.RadMenu_WebBlue .rmGroup a.rmDisabled:hover
{
	color: #aaa;
}

/* <expand arrows> */

.RadMenu_WebBlue .rmVertical .rmExpandRight,
.RadMenu_WebBlue_Context .rmGroup .rmExpandRight,
.RadMenu_WebBlue .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_WebBlue .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_WebBlue .rmVertical a.rmFocused .rmExpandRight,
.RadMenu_WebBlue .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_WebBlue .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_WebBlue .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_WebBlue .rmVertical a.rmFocused .rmExpandLeft,
.RadMenu_WebBlue .rmVertical a.rmExpanded .rmExpandLeft,
.RadMenu_WebBlue .rmVertical a.rmSelected .rmExpandLeft
{
    background-image: url('Menu/rmRootExpand.png');
}

.RadMenu_WebBlue .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_WebBlue .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_WebBlue .rmVertical a.rmFocused .rmExpandRight
{
	background-position: 100% -2px;
}

.RadMenu_WebBlue .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_WebBlue .rmVertical a.rmExpanded:hover .rmExpandRight
{
	background-position: 100% -29px;
}

.RadMenu_WebBlue .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_WebBlue .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_WebBlue .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_WebBlue .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_WebBlue .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_WebBlue .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_WebBlue .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_WebBlue .rmGroup a.rmExpanded .rmExpandLeft,
.RadMenu_WebBlue .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_WebBlue .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_WebBlue .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_WebBlue .rmGroup a.rmExpanded .rmExpandDown
{
    background-image: url('Menu/rmSprite.png');
	background-position: 100% -240px;
}

.RadMenu_WebBlue .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_WebBlue_Context .rmGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_WebBlue_Context .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_WebBlue .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_WebBlue_rtl a.rmLink:hover,
.RadMenu_WebBlue_rtl a.rmFocused,
.RadMenu_WebBlue_rtl a.rmSelected
{
    background-position: 100% -96px;
}

.RadMenu_WebBlue_rtl a.rmLink:hover .rmText,
.RadMenu_WebBlue_rtl a.rmFocused .rmText,
.RadMenu_WebBlue_rtl a.rmSelected .rmText
{
    background-position: 0 -72px;
}

.RadMenu_WebBlue_rtl a.rmExpanded,
.RadMenu_WebBlue_rtl a.rmExpanded:hover
{
    background-position: 100% -144px;
}

.RadMenu_WebBlue_rtl a.rmExpanded .rmText,
.RadMenu_WebBlue_rtl a.rmExpanded:hover .rmText
{
    background-position: 0 -120px;
}

.RadMenu_WebBlue_rtl .rmGroup a.rmLink:hover,
.RadMenu_WebBlue_rtl .rmGroup a.rmFocused,
.RadMenu_WebBlue_rtl .rmGroup a.rmSelected,
.RadMenu_WebBlue_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_WebBlue_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_WebBlue_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_WebBlue_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_WebBlue_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_WebBlue_Context_rtl .rmVertical .rmExpandLeft,
.RadMenu_WebBlue_rtl .rmRootGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_WebBlue_rtl a.rmLink:hover .rmExpandLeft,
.RadMenu_WebBlue_rtl a.rmSelected .rmExpandLeft,
.RadMenu_WebBlue_rtl a.rmFocused .rmExpandLeft
{
	background-position: 0 -2px;
}

.RadMenu_WebBlue_rtl a.rmExpanded .rmExpandLeft,
.RadMenu_WebBlue_rtl a.rmExpanded:hover .rmExpandLeft
{
	background-position: 0 -29px;
}

.RadMenu_WebBlue_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_WebBlue_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_WebBlue_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_WebBlue_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
    background-image: url('Menu/rmSprite.png');
	background-position: 0 -336px;
}

.RadMenu_WebBlue_Context_rtl .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_WebBlue_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
    background-image: url('Menu/rmSprite.png');
	background-position: 0 -312px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (WebBlue - specific, overlapping submenus)> */

.RadMenu_WebBlue .rmSlide
{
	margin: -3px 0 0 1px;
}

.RadMenu_WebBlue .rmVertical .rmSlide,
.RadMenu_WebBlue .rmSlide .rmSlide,
.RadMenu_WebBlue_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_WebBlue_rtl .rmSlide
{
	margin: -3px 0 0 -1px;
}

.RadMenu_WebBlue_rtl .rmVertical .rmSlide,
.RadMenu_WebBlue_rtl .rmSlide .rmSlide,
.RadMenu_WebBlue_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_WebBlue .rmLeftArrow,
.RadMenu_WebBlue .rmRightArrow
{
	background-color: #E0E5F5;
}

.RadMenu_WebBlue .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #B7BDCD; }
.RadMenu_WebBlue .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #B7BDCD; }

.RadMenu_WebBlue .rmTopArrow,
.RadMenu_WebBlue .rmBottomArrow,
.RadMenu_WebBlue .rmGroup .rmLeftArrow,
.RadMenu_WebBlue .rmGroup .rmRightArrow
{
	background-color: #f0f0f0;
}

.RadMenu_WebBlue .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #B7BDCD; }
.RadMenu_WebBlue .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #B7BDCD; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_WebBlue .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_WebBlue_Context .rmVertical .rmSeparator .rmText,
.RadMenu_WebBlue .rmVertical .rmVertical .rmSeparator .rmText,
.RadMenu_WebBlue .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -408px;
}

.RadMenu_WebBlue .rmHorizontal .rmSeparator .rmText,
.RadMenu_WebBlue .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

/* </Separators> */

/* </RadMenu / WebBlue> */
