
.RecurrenceEditor_WebBlue
{
	color: #333;
	font: normal 12px/14px "Segoe UI", Arial, sans-serif;
}

/* <xref input skins> */
.RecurrenceEditor_WebBlue .rsAdvInput,
.RecurrenceEditor_WebBlue select
{
	border-color: #a2b3c7;
}

.RecurrenceEditor_WebBlue .rsInvalid input,
.RecurrenceEditor_WebBlue .rsAdvTimePicker .riEmpty
{
	background-image: url('Input/sprite.gif');
}

.RecurrenceEditor_WebBlue .rsInvalid
{
	border-color: #F32800;
	color: #F32800;
}
/* </xref input skins> */

.RecurrenceEditor_WebBlue h2,
.RecurrenceEditor_WebBlue h3
{
	color: #0053a5;
}

.RecurrenceEditor_WebBlue h2
{
	border-bottom: 1px solid #CCC;
}

.RecurrenceEditor_WebBlue h2 span
{
	background: #fff;
}

.RecurrenceEditor_WebBlue .rsAdvRecurrenceFreq
{
	border-right: 1px solid #fff;
}

.RecurrenceEditor_WebBlue ul.rsRecurrenceOptionList   /* ??? */
{
	border-right: 1px solid #CCC;
}

.RecurrenceEditor_WebBlue div.rsAdvPatternPanel
{
	border-left: 0;
}

/* <date/time picker> */

.RecurrenceEditor_WebBlue .rsTimePick .RadInput_WebBlue input.riEnabled,
.RecurrenceEditor_WebBlue .rsTimePick .RadInput_WebBlue input.riHover,
.RecurrenceEditor_WebBlue .rsTimePick .RadInput_WebBlue input.riFocused
{
	background-image: url('Scheduler/rsSprites.png');
}

/* </date/time picker> */
