.RadSiteMap_WebBlue .rsmLink,
.RadSiteMap_WebBlue .rsmTemplate
{
	font-family: "Segoe UI", Arial, sans-serif;
	border-bottom: 0;
	background: #133c44;
	color: #FFF;
}

div.RadSiteMap_WebBlue .rsmLink,
div.RadSiteMap_WebBlue .rsmTemplate
{
	padding-left: 5px;
}

div.RadSiteMap_WebBlue .rsmLink:hover
{
	color: #EEE;
}

.RadSiteMap_WebBlue .rsmLevel1 .rsmLink,
.RadSiteMap_WebBlue .rsmLevel1 .rsmTemplate
{
	color: #627f97;
	background: none;
}

div.RadSiteMap_WebBlue .rsmLevel1 .rsmLink
{
	border-bottom: 3px solid #627f97;
}

.RadSiteMap_WebBlue .rsmLevel1 .rsmLink:hover
{
	color: #75A0Cb;
}

.RadSiteMap_WebBlue .rsmLevel2 .rsmLink,
.RadSiteMap_WebBlue .rsmLevel2 .rsmTemplate,
.RadSiteMap_WebBlue .rsmThreeLevels .rsmLevel1 .rsmLink,
.RadSiteMap_WebBlue .rsmTwoLevels .rsmLevel1 .rsmLink,
.RadSiteMap_WebBlue .rsmOneLevel .rsmItem .rsmLink
{
	color: #000;
	background: none;
}

div.RadSiteMap_WebBlue .rsmLevel2 .rsmLink,
div.RadSiteMap_WebBlue .rsmLevel2 .rsmTemplate,
div.RadSiteMap_WebBlue .rsmThreeLevels .rsmLevel1 .rsmLink,
div.RadSiteMap_WebBlue .rsmTwoLevels .rsmLevel1 .rsmLink,
div.RadSiteMap_WebBlue .rsmOneLevel .rsmItem .rsmLink
{
	border: 0;
}

.RadSiteMap_WebBlue .rsmLevel2 .rsmLink:hover,
.RadSiteMap_WebBlue .rsmThreeLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_WebBlue .rsmTwoLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_WebBlue .rsmOneLevel .rsmItem .rsmLink:hover
{
	color: #0e3d4f;
	background: #bce2f5 url('SiteMap/rsmHover.png') repeat-x 0 0;
}
